<div class="sistem-container menu-hide">
  <div class="sistem-header">
    <sistem-header></sistem-header>
  </div>
  <div class="sistem-content">

    <div class="sistem-main">
      <div class="setting-container">
        <div class="left-menu" style="width: 260px; float: left;">
          <app-settings-left></app-settings-left>
        </div>
        <div class="right-content" style="margin-left: 260px;">
          <div class="dashboard">
            <div class="user">
              <div class="profile">
                <div class="clear"></div>
                <div class="image">
                  <img src="/assets/images/user.jpg" />
                </div>
                <div class="name">Welcome, Babara Levy</div>
                <div class="subtext">Manage your info, team, privacy, and security to make Sistem Apps work better for
                  you and everyone associated.</div>
                <div class="activity">Last activity: 4 days ago Created: Aug 7, 2007</div>
              </div>
              <div class="boxes">
                <div class="box-row">
                  <div class="box-item">
                    <div class="box-item-inner" style="min-height: 320px;">
                      <div class="heading">Company Profile</div>
                      <div class="text mb-20">Basic info, like your name and photo, that you use on Sistem Apps</div>
                      <div class="info-box">
                        <div class="lebel">Organization</div>
                        <div class="value">Levy, Inc.</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Domain</div>
                        <div class="value">levy.sistem.app</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Email</div>
                        <div class="value">babra@levy.com</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Phone</div>
                        <div class="value">99896578978</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Location</div>
                        <div class="value">Singapore</div>
                      </div>
                      <div class="footer-button">
                        Update Profile
                      </div>
                    </div>
                  </div>
                  <div class="box-item">
                    <div class="box-item-inner" style="min-height: 320px;">
                      <div class="heading">Subscriptions</div>
                      <div class="text mb-20">Your recurring payments for subscription services. Valid upto 25 December 2019</div>
                      <div class="info-box mb-10">
                        <div class="lebel">Plan</div>
                        <div class="value">
                          <div class="value-button">Free Business Plan</div>
                        </div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Licenses</div>
                        <div class="value">2</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Users</div>
                        <div class="value">1</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Invited</div>
                        <div class="value">1</div>
                      </div>
                      <div class="footer-button">
                        Manage Subscriptions
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-row">
                  <div class="box-item">
                    <div class="box-item-inner" style="min-height: 320px;">
                      <div class="heading">Apps</div>
                      <div class="text mb-20">Apps & modules available to Babara. 30 of 60 available Sistem modules are on for Babara. No other Sistem Apps have been added to this domain.</div>
                      <div class="text mb-0">30 of 60 Sistem modules</div>
                      <div class="text-dark mb-10">Available Modules</div>
                      <div class="text mb-0">Apps</div>
                      <div class="apps-con">
                        <div class="app-icon">
                          <img src="/assets/images/applogo/sale.png" />
                        </div>
                        <div class="app-icon">
                          <img src="/assets/images/applogo/commerce.png" />
                        </div>
                      </div>
                      <div class="footer-button">
                        Turn apps on off
                      </div>
                    </div>
                  </div>
                  <div class="box-item">
                    <div class="box-item-inner"  style="min-height: 320px;">
                      <div class="heading">Personalization</div>
                      <div class="text mb-20">Upload your logo, It will appear across all products and for all users at Levy.</div>
                      <div class="logo-selector">
                        <div class="logo-preview selected">
                          <img src="/assets/images/logo_default.png" />
                          <div class="type">
                            <div class="type-label">Custom Logo</div>
                          </div>
                          <div class="tick-mark"></div>
                        </div>
                        <div class="logo-preview ">
                          <img src="/assets/images/logo_default.png" />
                          <div class="type">
                            <div class="type-label">Default Logo</div>
                          </div>
                          <div class="tick-mark"></div>
                        </div>
                      </div>
                      <div class="footer-button">
                        Upload Logo
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footer-info">Only you can see your settings. Sistem App is committed to protecting your privacy and security.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>