@import "src/styles/_variables.scss";
.details-left {
  width: 250px;
  float: left;
}
.details-right {
  margin-left: 230px;
  .details-right-inner {
    width: 840px;
    margin: 0 auto;
  }
}
.park-rate-wrapper {
  text-align: center;
}

.park-rate-main {
  padding-top: 20px;
  p {
    font-size: 25px;
    font-weight: 600;
    background: #007aff;
    display: inline-block;
    color: #fff;
    margin: 0;
    padding: 22px 32px;
    border-radius: 6px;
    opacity: 0.6;
  }
}

.welcome-name {
  p {
    font-size: 30px;
    color: #171e27;
    font-weight: 600;
    margin-top: 15px !important;
    margin: 0;
  }
  span {
    color: #171e27;
  }
}

.parkPro-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 340px;
  grid-gap: 20px;
  text-align: left;
  margin-top: 70px;
  text-align: left;
  margin-top: 70px;
  .inner {
    border: 1px solid #edf1f5;
    border-radius: 8px 8px 0 0;
    padding: 20px;
    height: 286px;
    p {
      color: #171e27;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    }
    .basic-info {
      margin: 16px 0;
    }
    span {
      color: #566881;
      font-size: 14px;
    }
    ins {
      display: block;
      text-decoration: none;
      margin-top: 15px;
    }
  }
  .inner-footer {
    padding: 15px 20px;
    border: 1px solid #edf1f5;
    border-top: 0;
    border-radius: 0 0 8px 8px;
    a.inner-update {
      color: #ff3b30;
      font-weight: 600;
      display: block;
    }

    a.inner-update.disable {
      color: #b9c1cc;
    }
  }

  .domain-main {
    .domain-inner {
      display: flex;
      padding: 3px 0;
      p {
        color: #566881;
        font-size: 14px;
        font-weight: normal;
        width: 25%;
        align-items: center;
      }
      span {
        color: #171e27;
        font-size: 14px;
        width: 75%;
        margin-left: auto;
        font-weight: 500;
      }
      .bus-plan-btn {
        background: #4cd964;
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        border-radius: 50px;
        padding: 4px 10px;
        margin-left: 31px;
        width: 150px;
        text-align: center;
      }
    }
  }
}

.domain-main.logo-inner p {
  color: #171e27 !important;
  font-size: 33px !important;
  font-weight: 600 !important;
  width: 40% !important;
}

.domain-main.logo-inner .domain-inner {
  align-items: center !important;
}

.acc-storage {
  text-align: left;
  margin-top: 35px;
  p {
    color: #171e27;
    font-size: 18px;
    font-weight: 600;
  }
  span {
    font-size: 14px;
    color: #566881;
  }
  a {
    color: #ff3b30;
    font-weight: 600;
    margin-top: 30px;
    display: block;
  }
}

.img-border {
  width: 146px;
  height: 69px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #edf1f5;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-footer {
  color: #566881;
  font-size: 12px !important;
  padding-bottom: 50px;
}
