<div class="right-inner">
  <div class="page-heading">Parking Rates</div>
  <div class="page-content">
    Easiest way to get going on Sistem Apps is to import your existing database
    to the Sistem Apps. Upload, Download or delete your data.
  </div>
  <div class="heading">Standard Parking Rates</div>
  <div class="description">
    For all kind of vehicles available at the parking
  </div>
  <ng-container *ngFor="let group of priceGroup; let gindex = index">
    <div class="data-box">
      <div class="data-box-row open">
        <div class="header">
          <div class="header-inner">
            <div class="logo-vehicle">
              <div
                class="vehicleimage d-flex"
                [ngStyle]="{
                  'background-color': group.vehicle.bgcolor,
                  color: group.vehicle.color
                }"
              >
                <!-- <img [src]="group.vehicle.imgSrc" alt="" /> -->
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="-7 -10 80 80"
                  [ngStyle]="{ fill: group.vehicle.color}">
                  <ng-container *ngFor="let path of getPaths(group.vehicle.name)">
                    <path [attr.d]="path" />
                  </ng-container>

                </svg>
              </div>
            </div>
            <div class="right-part">
              <div class="heading">{{ group["vehicle"]["name"] }} Rates</div>
              <div class="sub-heading tags">
                <div class="tag smalltext">
                  {{ group["rates"].length }} items
                </div>
              </div>
            </div>

            <div class="right">
              <div class="add" (click)="openAddNewModel(group)">
                <img src="/assets/images/icons/icon_plus_white.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="data-content" *ngIf="group['rates'].length! > 0">
          <div class="line-header"></div>
          <div class="data-list">
            <ul class="headings">
              <li></li>
              <li class="paragraph">DESCRIPTION</li>
              <li class="paragraph">PRICING TYPE</li>
              <li class="paragraph">AMOUNT</li>
              <li class="paragraph">BEGIN DATE</li>
              <li class="paragraph">END DATE</li>
              <li class="paragraph">STATUS</li>
              <!-- <li class="paragraph">
              DEFAULT
            </li> -->
              <li></li>
            </ul>
            <ng-container
              *ngFor="let session of group['rates']; let index = index"
            >
              <ul
                class="content"
                [ngClass]="{ selected: isSelected(session['is']) }"
                style="cursor: pointer"
                (click)="openSessionDetails(session['id'])"
              >
                <li>{{ index + 1 }}</li>
                <li class="highlight">
                  {{
                    writeDescription(session["startHour"], session["endHour"])
                  }}
                </li>
                <li class="paragraph">All Type</li>
                <li class="paragraph">₹{{ session["rate"] }}</li>
                <li class="paragraph">
                  {{ formatDate(session["createdAt"]) }}
                </li>
                <li class="paragraph">{{ formatDate(session["endDate"]) }}</li>
                <li class="paragraph">
                  {{ session.status === true ? "Active" : "Inactive" }}
                </li>
                <!-- <li class="paragraph">
                <div class="img-checkmark">
                  <img src="/assets/images/icons/checkmark.png" class="img-checkmark" />
                </div>
              </li> -->
                <li>
                  <div class="action">
                    <list-action [menuConfig]="getMenuConfig(session, group)">
                    </list-action>
                  </div>
                </li>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<app-add-parking-rate
  [editId]="editId"
  [group]="editGroup"
  *ngIf="addRateModelOpen"
  (actionPrimary)="cancelAddRate(true)"
  [parking_id]="parking_id"
  (actionCancel)="cancelAddRate()"
  (actionDelete)="deleteRate()"
  (deleteAction)="deleteRate($event)"
></app-add-parking-rate>
