@import "src/styles/_variables.scss";
.form-input{
  position: relative;
  height: 52px;
  padding: 24px 7px 7px 0px;
  .dp-container{
    background: #fff;
    position: absolute;
    z-index: 99;

  border: 1px solid #aaa;
  width: auto;
  padding: 10px 6px;
    .clear{
      clear: both;
      margin-bottom: 10px;
    }
    .dp-ok{
      background: #FF3B30;
      color: #ffffff;
      padding: 5px 10px;
      width: auto;
      font-weight: 500;
      font-size: 12px;
      border-radius: 20px;
      display: inline;
      cursor: pointer;
      transition: all 0.2s;
      position: relative;
       float: right;
    }
  }
  input{
    border: 0;
    background: transparent;
    color: $_maintext;
    font-size: 16px;
    outline: none;
    width: 100%;
  }
  .label{
    position: absolute;
    top: 17px;
    left: 0px;
    color: $_maintext;
    font-size: 16px;
    margin-left: 0px;
    transition: font-size .2s linear, color .2s linear, top .2s linear;
  }
  &.open{
    .label{
      font-size: 12px;
      color: $_subtext;
      top: 5px;
      left: 0px;
    }
  }
}