<div class="section-header">
  <div class="heading subheading">Details</div>
  <div class="action highlight">Edit</div>
</div>
<div class="content">
  <div class="actions">
    <div class="action video">
      <img src="/assets/images/icons/facetime-button.svg" alt="">
    </div>
    <div class="action audio">
      <img src="/assets/images/icons/phone-receiver.svg" alt="">
    </div>
  </div>
  <div class="main">
    <div class="label smalltext ">Mobile: </div>
    <div class="value paragraph">(212) 842-5500</div>
  </div>
</div>
<div class="content">
  <div class="actions">
    <div class="action video">
      <img src="/assets/images/icons/facetime-button.svg" alt="">
    </div>
    <div class="action audio">
      <img src="/assets/images/icons/phone-receiver.svg" alt="">
    </div>
  </div>
  <div class="main">
    <div class="label smalltext ">Phone: </div>
    <div class="value paragraph">(212) 842-5501</div>
  </div>
</div>
<div class="content">
  <div class="main">
    <div class="label smalltext ">Birthday: </div>
    <div class="value paragraph">25 Aug 1988</div>
  </div>
</div>
<div class="content">
  <div class="main">
    <div class="label smalltext ">Anniversary: </div>
    <div class="value paragraph">25 Aug 1988</div>
  </div>
</div>
<div class="content">
  <div class="actions">
    <div class="action mail">
      <img src="/assets/images/icons/mail-black-envelope-symbol.svg" alt="">
    </div>
  </div>
  <div class="main">
    <div class="label smalltext ">Work: </div>
    <div class="value paragraph">b.levy@expressl&t.net</div>
  </div>
</div>
<div class="content">
  <div class="actions">
    <div class="action mail">
      <img src="/assets/images/icons/mail-black-envelope-symbol.svg" alt="">
    </div>
  </div>
  <div class="main">
    <div class="label smalltext ">Personal: </div>
    <div class="value paragraph">b.levy@expressl&t.net</div>
  </div>
</div>
<div class="content">
  <div class="main red">
    <div class="label smalltext ">Linkedin: </div>
    <div class="value paragraph">babaralevy</div>
  </div>
</div>
<div class="content">
  <div class="main red">
    <div class="label smalltext ">Twitter: </div>
    <div class="value paragraph">babaralevy</div>
  </div>
</div>
<div class="content">
  <div class="main red">
    <div class="label smalltext ">Facebook: </div>
    <div class="value paragraph">babaralevy</div>
  </div>
</div>
<div class="content">
  <div class="main">
    <div class="label smalltext ">Assistant: </div>
    <div class="value paragraph">Josh Davis</div>
  </div>
</div>
<div class="content">
    <div class="actions">
        <div class="action map">
          <img src="/assets/images/icons/map.svg" alt="">
        </div>
      </div>
  <div class="main">
    <div class="label smalltext  full-width">Office Address: </div>
    <div class="value paragraph">620 SW 5th Avenue Suite 400 Portland, Oregon 97204 United States</div>
  </div>
</div>
<div class="content">
    <div class="actions">
        <div class="action map">
          <img src="/assets/images/icons/map.svg" alt="">
        </div>
      </div>
  <div class="main">
    <div class="label smalltext full-width">Shipping Address: </div>
    <div class="value paragraph">620 SW 5th Avenue Suite 400 Portland, Oregon 97204 United States</div>
  </div>
</div>

<div class="content">
  <div class="main">
    <div class="label smalltext  full-width">Notes: </div>
    <div class="value paragraph">World 3rd largest company in autamation, specially in part manufacturing and services</div>
  </div>
</div>
<div class="content">
  <div class="main">
    <div class="label smalltext  full-width">Created By: </div>
    <div class="value paragraph">ELT Team Mon 17 Jan 11:00 AM</div>
  </div>
</div>
<div class="content">
  <div class="main">
    <div class="label smalltext  full-width">Last Modified By: </div>
    <div class="value paragraph">ELT Team Mon 17 Jan 11:00 AM</div>
  </div>
</div>