@import "src/styles/_variables.scss";
.page-wrapper {
  background: url("/assets/images/signup_bg.png") no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: bottom left;
  background-size: 500px 300px;
  header{
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 5;
  }
  .logo {
    float: left;
    width: auto;
    padding: 30px;
    padding-bottom: 0;
    img {
      width: 120px;
    }
  }

  nav {
    width: auto;
    float: right;
    padding: 15px 20px;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        a {
          display: block;
          color: $_subtext;
          padding: 12px 20px;
          text-decoration: none;
          border-radius: 25px;
          &.highlight {
            color: $_red;

            -webkit-transition: all 0.2s; /* Safari */
            transition: all 0.2s;
          }
          &:hover {
            color: $_button_hover;
            background: $_hover;
          }
        }
      }
    }
  }
  .content {
    overflow: scroll;
    width: 100%;
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 90px;

    .content-container{
      min-height: 100%;
      padding-bottom: 50px;
      display: table;
      width: 100%;
    }
  }
  .center-box-outer {
    width: 100%;
    .center-box {
      width: 430px;
      height: auto;
      margin: auto auto;
      margin-top: 20px;
      background: $_white;
      padding: 10px;
    }
    .heading {
      font-size: 20px;
      font-weight: 600;
      color: $_maintext;
    }
    .text {
      font-size: 15px;
      font-weight: 400;
      color: $_subtext;
      margin-top: 5px;
    }

    .splittext {
      .www,
      .sistemapp,
      .isd {
        width: auto;
        float: left;
        display: block;
        padding: 2px 0 5px 0px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #b9c1cc;
        outline: none;
        font-size: 18px;
        line-height: 33px;
        padding-right: 5px;
        color: $_subtext;
        font-weight: 600;
      }
      .isd {
        color: $_red;
        font-weight: 700;
        line-height: 30px;
        padding: 2px 6px 7px 0;
      }
      .input-control {
        width: 350px;
        float: left;
      }
    }
    .domaincontainer {
      .input-control {
        width: 290px;
        float: left;
      }
    }
    .phone {
      .input-control {
        width: 378px;
        float: left;
      }
    }

    .input-control {
      font-weight: 600;
      font-size: 18px;
      padding-top: 5px;
    }
    .find-sistem {
      font-weight: 500;
      display: block;
      width: auto;
      float: left;
      color: $_red;
      padding-top: 15px;
      text-decoration: none;
      cursor: pointer;
    }
    .resend-message{
      margin-top: 30px;
      color: $_subtext;
      .resend{
        color: $_red;
        cursor: pointer;
        &:hover{
          color: $_button_hover;
        }
      }
    }
    .otp-container{
      margin: 10px;
      input{
        width: 40px;
        height: 40px;
        margin: 5px;
        float: left;
        border: 1px solid $_lines;
        border-radius: 4px;
        font-size: 20px;
        color: $_subtext;
        text-align: center;
        outline: none;
      }
    }
    .form-row{
      position: relative;
      .error-message{
        display: none;
      }
      &.error{
        .input-control{
          border-bottom: 1px solid $_red;
        }
        .label{
          color: $_red;
        }
        .error-message{
          display: block;
          color: $_red;
          font-size: 12px;
        }
      }
    }
    .eye{
      position: absolute;
      right: 0;
      top: 29px;
      width: 26px;
      height: 26px;
      border-radius: 13px;
      background: $_background;
      cursor: pointer;
      padding: 6px 6px;
      &:hover{
        background: $_hover;
      }
      img{
        width: 14px;
        opacity: 0.5;
      }
    }

  }
}

.intro {
  width: 60%;
  margin: 0 auto;
  .heading {
    font-size: 26px;
    font-weight: 600;
    color: $_maintext;
    text-align: center;
  }
  .text {
    font-size: 15px;
    font-weight: 400;
    color: $_subtext;
    margin-top: 16px;
    text-align: center;
    strong {
      color: $_maintext;
    }
  }
}

.progress {
  margin: 0 auto;
  width: auto;
  display: table;
  margin-top: 10px;
  ul {
    margin: 0;
    padding: 0;
    width: auto;
    li {
      margin: 0;
      padding: 0;
      width: 10px;
      height: 10px;
      background: $_lines;
      border-radius: 5px;
      margin: 5px;
      float: left;
      display: inline-block;
      &.selected {
        background: $_green;
      }
    }
  }
}
footer {
  height: 50px;
  margin-top: -50px;
  position: relative;
  .items{
    position: absolute;
    top: 10px;
    right: 30px;
    color: $_subtext;
    font-weight: 400;
    font-size: 10px;
    a {
      text-decoration: none;
      font-weight: 700;
      color: $_subtext;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
}
