<div class="page-wrapper">
  <header>
    <div class="logo">
      <img src="/assets/images/sistem_logo.svg" />
    </div>
    <nav>
      <ul class="d-flex">
        <li>
          <a href="">Help</a>
        </li>
        <li>
          <a href="">Contact Sales</a>
        </li>
        <li>
          <a [routerLink]="['/login']" class="highlight">Login</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="center-box-outer">
    <div class="center-box">
      <div *ngIf="step == 1">
        <div class="heading">Are you having trouble signing in?</div>
        <div class="text">
          You have come to the right place to reset a forgotten password. We
          will send a code on your email to verify your identity and continue.
        </div>
        <div class="form-row mt-20">
          <label class="label">Enter Your Registered mobile</label>
          <input
            type="email"
            name="email"
            class="input-control"
            placeholder="email in"
            [(ngModel)]="email"
          />
          <div class="red-text mt-5 mh-20" *ngIf="errorMessageEmail">
            {{ errorMessageEmail }}
          </div>
        </div>
        <div class="mt-20 box-btn-container">
          <a class="find-sistem">Go to Login</a>
          <div class="button" (click)="generateForgotPassword()">Next</div>
        </div>
      </div>

      <div *ngIf="step == 2">
        <div class="heading">Verify your identity</div>
        <div class="text mt-5">
          A massage with a verification code has been sent to your primary email
          id {{ email }} Enter the code to verify your identity and continue.
        </div>
        <div class="form-row mt-10">
          <div class="otp-container">
            <input
              type="text"
              maxlength="1"
              class="otp"
              #otp1
              [(ngModel)]="otppart1"
              (keyup)="moveNextInput(2, $event)"
            />
            <input
              type="text"
              maxlength="1"
              class="otp"
              #otp2
              [(ngModel)]="otppart2"
              (keyup)="moveNextInput(3, $event)"
            />
            <input
              type="text"
              maxlength="1"
              class="otp"
              #otp3
              [(ngModel)]="otppart3"
              (keyup)="moveNextInput(4, $event)"
            />
            <input
              type="text"
              maxlength="1"
              class="otp"
              #otp4
              [(ngModel)]="otppart4"
              (keyup)="moveNextInput(5, $event)"
            />
            <input
              type="text"
              maxlength="1"
              class="otp"
              #otp5
              [(ngModel)]="otppart5"
              (keyup)="moveNextInput(6, $event)"
            />
            <input
              type="text"
              maxlength="1"
              class="otp"
              #otp6
              [(ngModel)]="otppart6"
              (keyup)="moveNextInput(7, $event)"
            />
          </div>
        </div>
        <div class="clear"></div>
        <div class="smalltext text-center mt-10">
          Doesn't get the verification code?
          <span (click)="checkPassword()" class="red-text pointer">Resend</span>
        </div>
        <!-- <div class="smalltext text-center mt-10" *ngIf="timerview == 1">
          Re-send code: {{ timervalue }}
        </div> -->
        <div class="red-text mt-5 mh-20">{{ errorMessageOTP }}</div>
        <div class="mt-30 dt">
          <div class="button pull-right" (click)="VerifyForgotPassword()">
            Verify
          </div>
        </div>
      </div>

      <div *ngIf="step == 3">
        <div class="heading">Create a Password</div>
        <div class="text">
          You have verified account. Create your Sistem Password to jump right
          in! A strong password protect your data.
        </div>
        <div class="form-row mt-20">
          <label class="label">Password</label>
          <input
            type="password"
            name="password"
            class="input-control"
            placeholder="Enter your new Password"
            [(ngModel)]="newPassword"
          />
        </div>
        <div class="form-row mt-20">
          <label class="label">Confirm Password</label>
          <input
            type="password"
            name="Confirm password"
            class="input-control"
            placeholder="Enter your new Password"
            [(ngModel)]="confirmNewPassword"
          />
        </div>
        <div class="text mt-20">
          Passwords must be at least 6 characters long, and can’t be things like
          password, 123456, or abcdef..
        </div>
        <div class="red-text mt-5 mh-20">{{ errorMessageNewPassword }}</div>
        <div
          class="mt-20 box-btn-container"
          [ngStyle]="{ 'justify-content': 'flex-end' }"
        >
          <div class="button" (click)="generateNewPassword()">Next</div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="footer-img">
    <img src="/assets/images/signup_bg.png" />
  </div> -->

  <footer>
    &copy; 2018 sistem.app, All rights reserved. |
    <a href="#">Sistem Status</a> | <a href="#">Privacy</a> |
    <a href="#">Terms & Conditions</a>
  </footer>
</div>
<sistem-pageloader *ngIf="loading"></sistem-pageloader>
