@import "src/styles/_variables.scss";

.page-wrapper {
  width: 100%;
  height: 100vh;
  background: url("/assets/images/signup_bg.png") no-repeat;
  background-position: bottom left;
  background-size: 353px 267px;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
  }

  .logo {
    width: auto;

    img {
      width: 120px;
    }
  }

  nav {
    width: auto;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        a {
          display: inline-block;
          color: #566881;
          padding: 12px 20px;
          text-decoration: none;

          &.highlight {
            color: $_red;
            border-radius: 25px;
            background-color: #f8f9fa;
            width: 100px;
            height: 44px;
            text-align: center;
            -webkit-transition: all 0.2s;
            /* Safari */
            transition: all 0.2s;

            &:hover {
              color: $_button_hover;
            }
          }
        }
      }
    }
  }

  .center-box-outer {
    width: 100%;
    height: 100%;

    .center-box {
      width: 430px;
      height: auto;
      margin: auto auto;
      margin-top: 100px;
      background: $_white;
      border-radius: 5px;
      padding: 40px;
      -webkit-box-shadow: 1px 2px 10px 0px rgba(189, 189, 189, 0.65);
      -moz-box-shadow: 1px 2px 10px 0px rgba(189, 189, 189, 0.65);
      box-shadow: 1px 2px 10px 0px rgba(189, 189, 189, 0.65);
    }

    .box-btn-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .otp-container {
      margin: 10px;

      input {
        width: 40px;
        height: 40px;
        margin: 5px;
        float: left;
        border: 1px solid $_lines;
        border-radius: 4px;
        font-size: 20px;
        color: $_subtext;
        text-align: center;
        outline: none;
      }
    }

    .heading {
      font-size: 30px;
      font-weight: 600;
      color: $_maintext;
    }

    .text {
      font-size: 15px;
      font-weight: 400;
      color: $_subtext;
    }

    .input-control {
      font-weight: 600;
      font-size: 22px;
    }

    .find-sistem {
      font-weight: 500;
      display: block;
      width: auto;
      float: left;
      color: $_red;
      padding-top: 15px;
      text-decoration: none;
      cursor: pointer;
    }
  }
  footer {
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: #566881;
    font-weight: 400;
    font-size: 10px;

    a {
      text-decoration: none;
      font-weight: 700;
      color: #566881;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.button:disabled {
  color: #fff;
  opacity: 0.4;
}
