@import "src/styles/_variables.scss";
.leads{
    position: relative;
    display: table;
    width: 100%;
    margin-top: 10px;
    ul{
        display: block;
        height: 40px;
        &.headings{
            background: $_white;
            position: relative;
            top:0;
            left: 0;
            right: 0;
            li{
                color: $_subtext !important;
            }
        }
        &.content{
            li{
                color: $_subtext;
            }
        }
        li{
            height: 40px;
            float: left;
            padding: 10px 5px;
            vertical-align: middle;
            line-height: normal;
            line-height: 1.5;
            display: block;
            vertical-align: middle;
            &:nth-child(1) {
                width: 3%;
                text-align: center;
            }
            &:nth-child(2) {
                width: 4%;
            }
            &:nth-child(3) {
                width: 5%;
            }
            &:nth-child(4) {
                width: 16%;
                color: $_maintext;
            }
            &:nth-child(5) {
                width: 14%;
            }
            &:nth-child(6) {
                width: 12%;
            }
            &:nth-child(7) {
                width: 11%;
            }
            &:nth-child(8) {
                width: 14%;
            }
            &:nth-child(9) {
                width: 10%;
            }
            &:nth-child(10) {
                width: 5%;
            }
            &:nth-child(11) {
                width: 5%;
            }
        }
        
        .checkbox{
            width: 20px;
            height: 20px;
            border-radius: 3px;
            margin: -2px;
            border: 1px solid $_lines;
            position: relative;
            cursor: pointer;
            &:hover{
                background: $_background;
            }
            &.checked{
                &::before{
                    content: 'L';
                    position: absolute;
                    top: -2px;
                    left: 5px;
                    transform: rotate(40deg) scaleX(-1);
                    font-weight: 800;
                }
            }
        }
        .score{
            padding: 5px 0px;
            opacity: .50;
            border-radius: 15px;
            line-height: 19px;
            text-align: center;
            color: #fff;
            margin: -4px;
            margin-right: 10px;
            &.green{
                background: $_green;
            }
            &.blue{
                background: $_blue;
            }
            &.red{
                background: $_red;
            }
            &.yellow{
                background: $_yellow;
            }
            &.grey{
                background: $_maintext;
            }
        }
        .avtar{
            width: 36px;
            height: 36px;
            border-radius: 18px;
            background: $_background;
             margin: -6px -5px;
             overflow: hidden;
             position: relative;
            .text{
                font-size: 14px;
                margin: 0 auto;
                height: 100%;
                vertical-align: middle;
                text-align: center;
                display: table;
                width: 100%;
                line-height: 36px;
            }
            .image{
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                width: 36px;
                height: 36px;
                border-radius: 18px;
                overflow: hidden;
                top:0;
                left: 0;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .action{
        width: 40px;
        height: 40px;
        margin: -10px -5px;
    }
}
