@import "src/styles/_variables.scss";

.confirm {
  &.mini{
    .overray {
      z-index: 11;
    }
    .confirm-container {
      .confirm-body {
        width: 400px;
        max-height: 70%;
        height: inherit;
        min-height: 300px;
      }
    }
  }
  .overray {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: #ffffffbb;
  }
  .confirm-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    .confirm-body {
      position: relative;
      width: 570px;
      min-height: 100px;
      max-height: 80%;
      height: auto;
      background: #fff;
      margin: auto;
      border-radius: 6px;
      -webkit-box-shadow: 1px 1px 11px 0px rgba(181, 177, 181, 1);
      -moz-box-shadow: 1px 1px 11px 0px rgba(181, 177, 181, 1);
      box-shadow: 1px 1px 11px 0px rgba(181, 177, 181, 1);
      margin-top: 70px;
      display: table;
      .confirm-footer {
        position: relative;
        bottom: 0;
        left: 0;
        display: table;
        width: 100%;
        padding: 10px 20px 15px 20px;
        .button-cancel {
          width: 46%;
          font-size: 13px;
          padding: 8px 10px;
          color: $_subtext;
          text-align: center;
          border-radius: 40px;
          background: #F8F9FA 0% 0% no-repeat padding-box;
          cursor: pointer;
          &:hover{
            background-color: $_hover;
          }
        }
        .button-confirm {
          width: 46%;
          padding: 8px 10px;
          border-radius: 35px;
          margin-left: 20px;
          font-size: 13px;
          color: $_primary;
          text-align: center;
          border-radius: 40px;
          background: #F8F9FA 0% 0% no-repeat padding-box;
          cursor: pointer;
          &:hover{
            background-color: $_hover;
          }
        }
        &.button-center{
          .button-cancel,.button-confirm{
            width: 100%;
            margin: 0;
          }
          .button-confirm{
            margin-bottom: 5px;
          }
        }
      }
      .confirm-content {
        padding: 24px;
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        &.centered{
          *{
            text-align: center;
          }
        }
       
      }
    }
  }
}
