@import "src/styles/_variables.scss";
.orderproducts {
  .total-box {
    display: table;
    width: 100%;
    padding-top: 10px;
    padding-left: 60px;
    .total-items{
      width: 27%;
      float: left;
      font-size: 14px;
      color: $_maintext;
      font-weight: 400;
      &.total{
        text-align: right;
        color: $_maintext;
        font-weight: 600;
        width: 19%;
      }
    }
  }
  .single-order {
    position: relative;
    height: auto;
    padding: 0px 0px 0px 0px;

    .icon {
      width: 36px;
      height: 36px;
      float: left;
      img {
        width: 100%;
      }
    }
    .product-desc {
      margin-left: 60px;
      position: relative;
    }

    .clear {
      clear: both;
      float: none;
    }
    .line {
      border-bottom: 1px solid $_hover;
    }
    .product-info {
      position: relative;
      .product-name {
        color: $_maintext;
        font-size: 14px;
        font-weight: 500;
      }
      .product-code {
        color: $_subtext;
        font-size: 12px;
      }
      .action-right {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        position: absolute;
        right: 0;
        top: 10px;
        padding: 6px;
        cursor: pointer;
        transform: rotate(45deg);
        &:hover {
          background-color: $_hover;
        }
        img {
          width: 18px;
        }
      }
    }

    .data-row {
      position: relative;
      padding-bottom: 10px;
      display: table;
      width: 100%;
      line-height: 11px;
      padding-top: 3px;
      border-bottom: 1px solid $_hover;
      .data-box {
        width: auto;
        float: left;
        border-right: 1px solid $_subtext;
        font-family: 300;
        color: $_subtext;
        padding: 0 6px;
        font-size: 12px;
        .label {
          position: relative;
          margin-bottom: 5px;
          display: inline;
        }
        .input {
          display: inline;
        }
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border: 0;
        }
      }
     
    }
    .data-price{
      position: absolute;
      right: 0;
      top: 8px;
      color: $_maintext;
    }
  }
}
.line{
  border-bottom: 1px solid #eee;
}
.section-header {
  margin-bottom: 16px;
  display: table;
  width: 100%;

  .heading {
    color: $_maintext;
    float: left;
    width: auto;
  }
  .action {
    color: $_red;
    float: right;
    width: auto;
    padding-top: 1px;
  }
}
.modules {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  display: table;
  width: 100%;
  margin-bottom: 10px;
  .module {
    height: 40px;
    border-radius: 20px;
    padding: 7px;
    width: auto;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    &:hover {
      background: $_hover;
    }
    &.selected {
      background: $_hover;
    }
    .icon {
      width: 28px;
      height: 28px;
      border-radius: 14px;
      text-align: center;
      background: $_background;
      float: left;
      &.red {
        background: $_red;
      }
      &.green {
        background: $_green;
      }
      &.blue {
        background: $_blue;
      }
      &.skyblue {
        background: $_skyblue;
      }
      &.yellow {
        background: $_yellow;
      }
      &.orange {
        background: $_orange;
      }
      &.darkblue {
        background: $_darkblue;
      }
      img {
        filter: invert(100);
        display: inline-block;
        width: 21px;
        margin-top: 4px;
      }
    }

    .label {
      white-space: nowrap;
      margin-left: 28px;
      color: $_subtext;
      padding: 3px 10px;
    }
  }
}
.attachments {
  margin-bottom: 16px;
  display: table;
  width: 100%;
  border-bottom: 1px solid #eee;
  .attachment {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    .icon {
      width: 58px;
      height: 58px;
      border-radius: 4px;
      text-align: center;
      background: $_background;
      float: left;
      overflow: hidden;
      img {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
    .content {
      margin-left: 70px;
      padding-right: 15px;
      .name {
        color: $_maintext;
        font-weight: 500;
        font-size: 15px;
        padding-top: 8px;
        padding-bottom: 4px;
      }
      .info {
        margin-right: 30px;
        color: $_subtext;
        font-weight: 400;
        font-size: 13px;
        display: table;
        width: 100%;
        span {
          font-weight: 500;
        }
      }
    }
  }
}

.notes {
  margin-bottom: 16px;
  display: table;
  width: 100%;
  border-bottom: 1px solid #eee;
  .note {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    .content {
      padding-right: 20px;
      .name {
        color: $_maintext;
        margin-bottom: 4px;
      }
      .info {
        margin-right: 30px;
        color: $_subtext;
        display: table;
        width: 100%;
        span {
          font-weight: 500;
        }
      }
    }
  }
}

.products {
  margin-bottom: 16px;
  display: table;
  width: 100%;
  border-bottom: 1px solid #eee;
  .product {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    height: 70px;
    .icon {
      width: 58px;
      height: 58px;
      border-radius: 4px;
      text-align: center;
      background: $_background;
      float: left;
      overflow: hidden;
      img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .content {
      margin-left: 70px;
      padding-right: 25px;
      .name {
        color: $_maintext;
        padding-top: 8px;
        padding-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        // display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        -webkit-line-clamp: 2;
        vertical-align: top;
      }
      .info {
        margin-right: 30px;
        color: $_maintext;
        display: table;
        width: 100%;
        span {
          font-weight: 500;
        }
      }
    }
  }
}

.tasks {
  margin-bottom: 16px;
  display: table;
  width: 100%;
  border-bottom: 1px solid #eee;
  .single-line {
    display: table;
    width: 100%;
  }
  .task {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    .users {
      display: table;
      width: 100%;
    }
    .radio {
      width: 18px;
      height: 18px;
      border-radius: 9px;
      border: 2px solid $_lines;
      float: left;
      overflow: hidden;
      margin-left: 5px;
      margin-top: 14px;
    }
    .icon {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      text-align: center;
      background: $_green;
      float: left;
      color: $_white;
      overflow: hidden;
      margin-left: 10px;
      line-height: 23px;
      margin-top: 10px;
    }
    .content {
      margin-left: 70px;
      padding-right: 15px;
      .name {
        color: $_maintext;
        padding-bottom: 4px;
      }
      .info {
        position: relative;
        margin-right: 30px;
        color: $_subtext;
        display: table;
        width: 100%;
        span {
          font-weight: 500;
        }
        &.online {
          padding-left: 10px;
          &:after {
            content: "";
            width: 7px;
            height: 7px;
            background: $_green;
            border-radius: 3px;
            position: absolute;
            left: 0px;
            margin-top: 5px;
          }
        }
      }
      .users {
        padding-top: 5px;
        .user {
          width: 24px;
          height: 24px;
          border-radius: 12px;
          overflow: hidden;
          margin-right: 5px;
          float: left;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.images {
  .image {
    width: 72px;
    height: 72px;
    padding: 2px;
    float: left;
    margin-right: 20px;
    border: 1px solid #fff;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
    &:hover {
      border: 1px solid $_hover;
      cursor: pointer;
    }
  }
}
.description {
  white-space: pre-wrap;
}
