@import "src/styles/_variables.scss";
.app-menu{
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 25px;
    margin: 7px;
    &:hover{
        background: #f5f5f5;
        cursor: pointer;
    }
    img{
        width: 100%;
        height: 100%;
        display: block;
        padding: 14px;
    }
}
.logo{
    width: auto;
    height: 64px;
    float: left;
    .sistem-name{
        font-size: 26px;
        font-weight: 400;
        padding-top: 14px;
        float: left;
    }
    img{
        width: 105px;
        float: left;
        display: block;
        padding: 22px 0 0 5px;
    }
}
.header-search{
    width: 600px;
    padding: 3px 0 0 40px;
    position: relative;
    float: left;
    background: $_background;
    margin: 14px;
    border-radius: 20px;
    margin-left: 100px;
    .search-icon{
        width: 15px;
        position: absolute;
        left: 14px;
        top: 11px;
        opacity: 0.4;
    }
    input{
        background: none;
        border: none;
        height: 28px;
        margin-bottom: 4px;
        font-size: 14px;
        width: 100%;
        outline: none;
    }

    .search-results{
        display: none;
        top: 34px;
        left: 0;
        right: 0;
        margin-left: -40px;
        ul{
            margin-top: 5px;
            margin-bottom: 15px;
            li{
                position: relative;
                display: block;
                margin: 0;
                padding: 0;
                font-size: 14px;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    background: $_hover;
                }
                .icon{
                    float: left;
                    width: 28px;
                    height: 28px;
                    border-radius: 14px;
                    margin-left: 4px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .search-item{
                    margin-left: 36px;
                    font-weight: 400;
                    height: 28px;
                    padding-top: 6px;
                    .dim{
                        color: $_subtext-light;
                        display: inline;
                    }
                    &.multiline{
                        padding-top: 0px;
                        .primary{
                            .dim{
                                color: $_maintext;
                                opacity: 0.9;
                            }
                        }
                        .secondry{
                            color: $_subtext-light;
                            font-size: 11px;
                        }
                    }
                }

            }
        }
    }
    &.open{
        -webkit-box-shadow: 1px 1px 11px 0px rgba(181,177,181,1);
        -moz-box-shadow: 1px 1px 11px 0px rgba(181,177,181,1);
        box-shadow: 1px 1px 11px 0px rgba(181,177,181,1);
        margin-top: 12px;
        padding: 5px 0 0 40px;
        .search-icon{
            top: 13px;
        }
        .search-results{
            display: block;
        }
    }
}
.header-right{
    float: right;
    position: relative;
    .right-menu{
        float: left;
        width: auto;
        ul{
            width: auto;
            margin: 0;
            padding: 0;
            margin-top: 12px;
            li{
                display: inline-block;
                margin-left: 10px;
                a{
                    cursor: pointer;
                    display: block;
                    width: 40px;
                    height: 40px;
                    background: $_background;
                    border-radius: 20px;
                    padding: 10px;
                    img{
                        width: 20px;
                    }
                    &:hover{
                        background: rgb(241, 242, 243);
                    }
                }
            }
        }
    }
    .user-thumb{
        float: left;
        width: auto;
        padding: 6px 15px;
        .user-thumb-border{
            border: 4px solid #ffffff;
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 25px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
            &:hover{
                border: 4px solid rgba(255, 58, 48, 0.363);
            }
        }
        &.selected{
            .user-thumb-border{
                border: 4px solid rgba(255, 58, 48, 0.363);
            }
        }
    }
    .user-popup{
        .overlay{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
        }
        .popup-box{
            position: absolute;
            z-index: 15;
            background: #ffffff;
            width: 250px;
            height: 210px;
            right: 20px;
            top: 60px;
            border-radius: 15px;
            border: 1px solid $_background;
            -webkit-box-shadow: 2px 2px 16px 0px rgba(143,143,143,1);
            -moz-box-shadow: 2px 2px 16px 0px rgba(143,143,143,1);
            box-shadow: 2px 2px 16px 0px rgba(143,143,143,1);
            overflow: hidden;
            .top{
                height: 110px;
                width: 100%;
                background: $_background;
                display: table;
            }
            .bottom{
                width: 100%;
                background: $_white;
            }
            .user{
                float: left;
                width: 60px;
                height: 60px;
                overflow: hidden;
                border-radius: 30px;
                margin: 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .info{
                margin-top: 15px;
                .name{
                    font-size: 15px;
                    color: $_maintext;
                    font-weight: bold;
                }
                .designation{
                    font-size: 15px;
                    color: $_subtext;
                    font-weight: bold;
                }
                .button-container{
                    padding-top: 10px;
                }
                .button{
                    padding: 5px 15px;
                    font-size: 14px;
                }
            }
            .warning{
                color: $_warning;
                font-size: 12px;
                padding: 15px;
            }
            .btn-logout{
                padding: 10px;
                width: 100%;
                text-align: left;
                &:hover{
                    background: $_background;
                }
            }
        }
    }
}

.module-popup{
    .overlay{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
    }
    .popup-box{
        position: absolute;
        z-index: 15;
        background: #ffffff;
        width: 350px;
        left: 2px;
        top: 64px;
        border-radius: 5px;
        border: 1px solid #F8F9FA;
        box-shadow: 0px 4px 10px 3px #0000002e;
        overflow: hidden;
        padding: 10px;
        .icons-container{
            width: 33.33%;
            float: left;
            padding: 5px;
            .icon{
                width: 100%;
                padding: 10px;
                padding-bottom: 7px;
                cursor: pointer;
                position: relative;
                img{
                    width: 100%;
                }
                &:hover{
                    background: $_background;
                }
                &.selected{
                    .selector{
                        background: $_yellow;
                        position: absolute;
                        bottom: 0px;
                        height: 4px;
                        width: 70px;
                        left: 14px;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                    }
                    background: $_background;
                }
                .title{
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                    padding: 4px 0 2px 0;
                }
            }
        }
    }
}

@media (max-width: 1100px){
    .header-search{
        width: 280px;
        margin-left: 20px;
    }
}