@import "src/styles/_variables.scss";
.form-input{
  position: relative;
  height: 52px;
  padding: 24px 7px 7px 0px;
  .dp-container{
    background: #fff;
    position: absolute;
    z-index: 99;
  }
  input{
    border: 0;
    background: transparent;
    color: $_maintext;
    font-size: 16px;
    outline: none;
    width: 100%;
  }
  .label{
    position: absolute;
    top: 17px;
    left: 0px;
    color: $_maintext;
    font-size: 16px;
    margin-left: 0px;
    transition: font-size .2s linear, color .2s linear, top .2s linear;
  }
  &.open{
    .label{
      font-size: 12px;
      color: $_subtext;
      top: 5px;
      left: 0px;
    }
  }
}