<div class="sistem-container menu-hide">
  <div class="sistem-header">
    <sistem-header></sistem-header>
  </div>
  <div class="sistem-content">

    <div class="sistem-main">
      <div class="setting-container">
        <div class="left-menu" style="width: 260px; float: left;">
          <app-settings-left></app-settings-left>
        </div>
        <div class="right-content" style="margin-left: 260px;">
          <div class="dashboard">
            <div class="user">
              <div class="profile">
                <div class="clear"></div>
                <div class="image">
                  <img src="/assets/images/user.jpg" />
                </div>
                <div class="name">Welcome, Babara Levy</div>
                <div class="subtext">Manage your info, team, privacy, and security to make Sistem Apps work better for
                  you and everyone associated.</div>
                <div class="activity">Last activity: 4 days ago Created: Aug 7, 2007</div>
              </div>
              <div class="boxes">
                <div class="box-row">
                  <div class="box-item">
                    <div class="box-item-inner" style="min-height: 320px;">
                      <div class="heading">Profile details</div>
                      <div class="text mb-20">Basic info, like your name and photo, that you use on Sistem Apps</div>
                      <div class="info-box">
                        <div class="lebel">Name</div>
                        <div class="value">Babara Levy</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Position</div>
                        <div class="value">SVP, Operations</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Email</div>
                        <div class="value">babra@levy.com</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Phone</div>
                        <div class="value">99896578978</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Birthday</div>
                        <div class="value">Nothing to show</div>
                      </div>
                      <div class="info-box">
                        <div class="lebel">Reports to</div>
                        <div class="value">Ajay Kumar, ajay@levy.com</div>
                      </div> 
                      <div class="footer-button">
                        Edit Profile
                      </div>
                    </div>
                  </div>
                  <div class="box-item">
                    <div class="box-item-inner" style="min-height: 320px;">
                      <div class="heading">Apps</div>
                      <div class="text mb-20">Apps & modules available to Babara. 30 of 60 available Sistem modules are on for Babara. No other Sistem Apps have been added to this domain.</div>
                      <div class="text mb-0">30 of 60 Sistem modules</div>
                      <div class="text-dark mb-10">Available Modules</div>
                      <div class="text mb-0">Apps</div>
                      <div class="apps-con">
                        <div class="app-icon">
                          <img src="/assets/images/applogo/sale.png" />
                        </div>
                        <div class="app-icon">
                          <img src="/assets/images/applogo/commerce.png" />
                        </div>
                      </div>
                      <div class="footer-button">
                        Turn apps on off
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-row">
                  <div class="box-item">
                    <div class="box-item-inner" style="min-height: 225px;">
                      <div class="heading">Security</div>
                      <div class="text mb-20">Enforced & enabled security settings. For some of the security settings only Babara can turn on.</div>
                      <div class="info-box large">
                        <div class="lebel">2-step verification</div>
                        <div class="value">On</div>
                      </div>
                      <div class="info-box large">
                        <div class="lebel">Connected Devices</div>
                        <div class="value">1 Web, 2 Mobile</div>
                      </div>
                      <div class="footer-button">
                        Turn apps on off
                      </div>
                    </div>
                  </div>
                  <div class="box-item">
                    <div class="box-item-inner"  style="min-height: 225px;">
                      <div class="heading">Account storage</div>
                      <div class="text mb-20">Babara account storage is shared across Sistem Apps, like Modules and Files</div>
                      <div class="text-dark mb-10">97% used – 4.57 GB of 5 GB</div>
                      <div class="footer-button">
                        Upgrade storage
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>