<div class="sistem-content">
  <div class="sistem-main">
    <div class="header">
      <list-header [heading]="heading" (actionAddNew)="openAddNewModel()" (actionInfoToggle)="toggleInfo()"
        [tags]="tags"  [actions]="activeActions" (actionGroup)="onAction($event)">
      </list-header>

    </div>
    <div class="sistem-split open" [ngClass]="{open: infoOpen}">
      <div class="sistem-split-left">
        <sistem-pageloader *ngIf="loading"></sistem-pageloader>
        <div class="contacts" *ngIf="!loading">

          <ul class="headings">
            <li></li>
            <li>
              <div class="checkbox" [ngClass]="{'checked': selectall}" (click)=selectallItem()></div>
            </li>
            <li class="paragraph" (click)="updateOrderBy(item)" *ngFor="let item of headers; let index = index">
              {{headerMap[item]}}
              <div class="order-type" *ngIf="item==orderBy">
                <img *ngIf="!reverse" src="/assets/images/icons/downldpi.svg" />
                <img *ngIf="reverse" src="/assets/images/icons/upldpi.svg" />
              </div>
            </li>
            <li></li>
          </ul>
          <ng-container *ngFor="let lv of companyListView | orderBy : orderBy: reverse; let index = index">
            <ul class="content" [ngClass]="{'selected': isSelected(lv['store_id'])}" style="cursor: pointer;"
              (click)="openCompanyDetails(lv['store_id'])">
              <li>{{index+1}}</li>
              <li>
                <div class="checkbox" [ngClass]="{'checked': isSelected(lv['store_id'])}" (click)=selectItem($event,lv)></div>
              </li>

              <li class="highlight" *ngFor="let item of headers">
                {{lv[item]}}
              </li>
              <li>
                <div class="action">
                  <list-action
                    [menuConfig]="[
                    {label: 'Edit', icon:'editldpi.svg', action: editCompany.bind(this, lv['store_id'])},
                    {label: 'Delete', icon:'deleteldpi.svg', action: deleteItem.bind(this, lv['store_id']), confirm: true,
                    confirmParam: {title: 'Delete Company', content: 'Are you sure to delete this company?', note: 'You can not undo the change.', label: 'Delete Company'}}]">
                  </list-action>
                </div>
              </li>
            </ul>
          </ng-container>


        </div>
      </div>
      <div class="sistem-split-right" [ngClass]="{'fixed': sidebarFixed}">
        <div class="info-window">
          <div class="info-header">
            <div class="heading subheading">Activity with Sudesh Srikant</div>
            <div class="refresh">
              <img src="/assets/images/icons/icon_reload.png" alt="" />
            </div>
          </div>
          <div class="info-content">
            <div class="scrollbar">
              <div class="date smalltext">Today</div>
              <div class="group">
                <div class="activity" *ngFor="let a of [1,1]">
                  <div class="icon">
                    <img src="/assets/images/icons/detailsldpi.svg" alt="" />
                  </div>
                  <div class="content">
                    <div class="heading highlight">Updated Profile</div>
                    <div class="inrormation paragraph">Contact details updated - Phone No,
                      Address</div>
                    <div class="attributes">
                      <div class="attribute smalltext">Time: Apr 25, 2014 11:26 AM</div>
                      <div class="attribute pull-right smalltext">By Sistem Admin</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="date">24 August 18</div>
              <div class="group">
                <div class="activity" *ngFor="let a of [1,1,1,1,1,1,1,1,1,1,1,1]">
                  <div class="icon">
                    <img src="/assets/images/icons/detailsldpi.svg" alt="" />
                  </div>
                  <div class="content">
                    <div class="heading highlight">Updated Profile</div>
                    <div class="inrormation paragraph">Contact details updated - Phone No,
                      Address</div>
                    <div class="attributes">
                      <div class="attribute smalltext">Time: Apr 25, 2014 11:26 AM</div>
                      <div class="attribute pull-right smalltext">By Sistem Admin</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="norecord highlight">No recorded activity before September 3, 2018</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-add-company *ngIf="addNewModelOpen" [editId]="editId" (actionSecondary)="cancelAddNew(true, true)"
  (actionPrimary)="cancelAddNew(true)" (actionCancel)="cancelAddNew()"></app-add-company>


<confirm *ngIf="confirmDeleteModelOpen" [dialog]="true" (actionConfirm)="confirmDelete()"
(actionCancel)="cancelDelete()" [title]="'Delete Companies'" [content]="'Are you sure to delete these companies?'"
[note]="'You can not undo the change.'" [labelConfirm]="'Delete Contacts'"></confirm>