@import "src/styles/_variables.scss";
.form-input {
  position: relative;
  height: auto;
  padding: 24px 7px 7px 0px;
  .upload-controller {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    .file-upload-loader {
      width: 100px;
      height: 100px;
      background-color: #eee;
      border: 1px solid #ddd;
      position: relative;
      img {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 35px;
        top: 35px;
        opacity: 1;
        animation: rotation 1s infinite linear;
        -webkit-animation: rotation 1s infinite linear;
        -o-animation: rotation 1s infinite linear;
      }
    }
    .file-upload-preview {
      padding: 3px;
      width: 100px;
      height: 100px;
      background-color: #eee;
      border: 1px solid #ddd;
      position: relative;
      .close {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        cursor: pointer;
        position: absolute;
        right: 2px;
        top: 2px;
        &:hover {
          background: $_hover;
        }
        img {
          width: 100%;
          display: block;
          padding: 2px;
        }
      }
      .preview {
        width: 100%;
        height: 100%;
        background: url() no-repeat center center;
        background-position: center;
        background-size: contain;
      }
    }
  }
  .single-upload {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    img {
      width: 37px;
      height: 35px;
      position: absolute;
      left: 33px;
      top: 30px;
      opacity: 0.5;
    }
    &:hover {
      background-color: #e5e5e5;
    }
    input {
      border: 0;
      background: transparent;
      color: $_maintext;
      font-size: 16px;
      outline: none;
      width: 100px;
      height: 100px;
      position: absolute;
      opacity: 0;
    }
    .filedrag {
      width: 100px;
      height: 100px;
      position: absolute;
      border: 1px dashed #ccc;
      display: none;
      &.droppeble {
        display: block;
      }
    }
    .file-selector {
      width: 100px;
      height: 100px;
    }
  }

  .label {
    position: absolute;
    top: 17px;
    left: 0px;
    color: $_maintext;
    font-size: 16px;
    margin-left: 0px;
    transition: font-size 0.2s linear, color 0.2s linear, top 0.2s linear;
  }
  &.open {
    .label {
      font-size: 12px;
      color: $_subtext;
      top: -2px;
      left: 0px;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}
