@import "src/styles/_variables.scss";
.contacts {
  position: relative;
  display: table;
  width: 100%;
  padding-top: 10px;
  ul {
    display: block;
    height: 40px;
    margin: 1px 0;
    &.headings {
      background: $_white;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      li {
        color: $_subtext !important;
        position: relative;
        cursor: pointer;
        .order-type {
          position: absolute;
          width: 40px;
          height: 40px;
          padding: 12px;
          right: 0;
          top: 0;
          opacity: 0.6;
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    &.content {
      li {
        color: $_subtext;
      }
    }
    li {
      height: 40px;
      float: left;
      padding: 10px 5px;
      vertical-align: middle;
      line-height: normal;
      line-height: 1.5;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .productimage {
        width: 34px;
        height: 34px;
        margin-top: -7px;
        margin-left: -2px;
        // border-radius: 17px;
        overflow: hidden;
        background: $_white;
        img {
          display: inline-block;
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
        }
      }
      &:nth-child(1) {
        width: 4%;
        text-align: center;
      }
     
      &:nth-child(2) {
        width: 5%;
      }
      &:nth-child(3) {
        width: 30%;
        color: $_maintext;
      }
      &:nth-child(4) {
        width: 30%;
      }
      &:nth-child(5) {
        width: 25%;
      }
      &:nth-child(6) {
        width: 16%;
      }
      &:nth-child(7) {
        width: 16%;
      }
      &:nth-child(8) {
        width: 6%;
      }
      &:nth-child(9) {
        width: 9%;
        overflow: initial;
      }
    }
    .not-selected {
      &.hover {
        background: $_hover_background;
      }
    }
    &.selected {
      li {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          background: $_selection_background;
        }
        &:nth-child(2) {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        &:nth-child(9) {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
          }
      }
    }
    .checkbox {
      width: 18px;
    height: 18px;
    border-radius: 5px;
    margin: 1px 0px 0 8px;
    border: 1px solid $_lines;
    position: relative;
    cursor: pointer;

      
      &:hover {
        background: $_background;
      }
      &.checked {
        &::before {
          content: "L";
          position: absolute;
          top: -3px;
    left: 4px;
          transform: rotate(40deg) scaleX(-1);
          font-weight: 800;
          color: $_red;
        }
      }
    }
    .score {
      padding: 5px 0px;
      opacity: 0.5;
      border-radius: 15px;
      line-height: 19px;
      text-align: center;
      color: #fff;
      margin: -4px;
      margin-right: 10px;
      &.green {
        background: $_green;
      }
      &.blue {
        background: $_blue;
      }
      &.red {
        background: $_red;
      }
      &.yellow {
        background: $_yellow;
      }
      &.grey {
        background: $_maintext;
      }
    }
    .avtar {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      background: $_background;
      margin: -6px -5px;
      overflow: hidden;
      position: relative;
      .text {
        font-size: 14px;
        margin: 0 auto;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        display: table;
        width: 100%;
        line-height: 36px;
      }
      .image {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        overflow: hidden;
        top: 0;
        left: 0;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .action {
    width: 40px;
    height: 40px;
    margin: -10px -5px;
    float: right;
    margin-right: 20px;
  }
}


.info-window {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 1px solid #eee;
  display: inline-block;
  .info-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    .heading {
      color: $_maintext;
      padding: 15px 20px;
    }
    .refresh {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      padding: 6px;
      position: absolute;
      top: 11px;
      right: 10px;
      cursor: pointer;
      &:hover {
        background: $_hover;
      }
      img {
        width: 100%;
      }
    }
  }

  .info-content {
    margin-top: 40px;
    padding: 5px 20px;
    height: 100%;
    .date {
      color: $_subtext;
      padding: 5px 0;
    }
    .activity {
      padding: 10px 0;
      border-bottom: 1px solid #eee;
      display: table;
      width: 100%;
      &:last-child {
        border-bottom: 0px;
      }
      .icon {
        background: $_orange;
        width: 26px;
        height: 26px;
        border-radius: 13px;
        padding: 2px;
        float: left;
        img {
          width: 100%;
          filter: invert(100%);
          -webkit-filter: invert(100%);
        }
      }
      .content {
        margin-left: 35px;
        .heading {
          color: $_maintext;
          padding: 0 0 2px 0px;
        }
        .inrormation {
          color: $_subtext;
          padding: 2px 0px;
        }
        .attributes {
          .attribute {
            padding: 2px 0px;
            color: $_subtext;
            width: auto;
            margin-right: 10px;
            opacity: 0.8;
            float: left;
            &.pull-right {
              float: right;
            }
          }
        }
      }
    }
    .norecord {
      font-size: 12px;
      color: $_subtext;
      padding: 10px 0 10px 0px;
    }
  }
}
.loader{
  img{
    display: block;
    width: 200px;
    margin: 0 auto;
  }
}

ul:not(.selected) {
  &:hover {
      background: $_hover_background;
    }
}





.attachment-view-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  .overlay-black {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 98;
    background: #151414eb;
  }
  .attachment-view-outer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    .attachment-view {
      position: relative;
      height: 100%;
      .attachment-header {
        height: 50px;
        .back-button {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          padding: 13px;
          margin: 5px;
          float: left;
          img {
            width: 100%;
            filter: invert(100%);
          }
          &:hover {
            background: #f7f7f71c;
            cursor: pointer;
          }
        }
        .file-name {
          font-size: 17px;
          color: #fff;
          font-weight: 500;
          float: left;
          margin-top: 17px;
          margin-left: 5px;
          border-right: 1px solid #fff;
          padding-right: 8px;
          line-height: 17px;
          padding-bottom: 3px;
        }
        .file-details {
          font-size: 13px;
          color: #fff;
          font-weight: 400;
          float: left;
          margin-top: 18px;
          margin-left: 5px;
          padding-left: 5px;
        }
      }
      .attachment-content{
        height: calc(100% - 50px);
        position: relative;
        .media-content{
          padding: 50px;
          height: 100%;
          .image-media{
            height: 100%;
            img{
              height: 100%;
              display: block;
              margin: 0 auto;
              max-width: 100%;
              max-height: 100%;
              
            }
          }
          .file-download{
            margin-top: 50px;
            .download-icon{
              margin-bottom: 10px;
              img{
                filter: invert(100%);
                width: 80px;
                display: block;
                margin: 0 auto;
                opacity: .8;
              }
            }
            .download-button{
              
              background: #5a5959;
              color: #fff;
              font-size: 16px;
              font-weight: 400;
              padding: 13px 25px;
              display: table;
              margin: 0 auto;
              border-radius: 3px;
              width: auto;
              text-decoration: none;
              float: none;
              &:hover{
                opacity: 0.8;
              }
            }
          }
        }
        .back, .next{
          width: 40px;
          height: 40px;
          border-radius: 20px;
          padding: 13px;
          margin: 5px;
          float: left;
          position: absolute;
          top: calc(50% - 40px);
          img {
            width: 100%;
            filter: invert(100%);
          }
          &:hover {
            background: #f7f7f71c;
            cursor: pointer;
          }
        }
        .next{
          right: 15px;
        }
        .back{
          left: 15px;
        }
      }
    }
  }
}

.groupactions {
  float: right;
  width: auto;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;

  .groupaction {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 5px;
    text-align: center;
    float: left;
    display: flex;
    cursor: pointer;
    position: relative;
    &:hover {
      background: #f7f7f71c;
    }
    .overlay {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      display: none;
      cursor: default;
    }
    .img {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      img {
        width: 24px;
        opacity: 0.8;
        filter: invert(100%);
      }
    }

    .options-container {
      height: 0;
      position: relative;
      display: none;
      .options {
        position: absolute;
        max-height: 200px;
        overflow: scroll;
        background: $_white;
        border: 1px solid #eee;
        z-index: 20;
        top: 40px;
        border-radius: 6px;
        width: 134px;
        right: 0;
        box-shadow: 0px 3px 36px #00000029;
        border: 0.5px solid #edf1f5;
        ul {
          li {
            padding: 8px 15px;
            color: $_subtext;
            font-size: 14px;
            cursor: pointer;
            text-align: left;
            font-weight: 400;
            &:hover {
              background: $_hover;
            }
          }
        }
      }
    }
    &.open {
      background: #f7f7f71c;
      .options-container {
        display: block;
      }
      .overlay {
        display: block;
      }
    }
  }
}
