@import "src/styles/_variables.scss";
.breandcrumb{
    width: 100%;
    height: 38px;
    display: table;
    background: $_white;
    border-bottom: 1px solid #eee;
    ul{
      margin: 5px 10px;
      padding: 0;
      width: auto;
      float: left;
      li{
        padding: 5px 15px 5px 5px;
        position: relative;
        display: block;
        float: left;
        color: $_subtext;
        a {
          cursor: pointer;
          &:hover{
            opacity: .9;
          }
        }
        
        &:after{
          content: '-';
          font-size: 16px;
          position: absolute;
          top: 4px;
          right: 0px;
        }
        &:last-child{
            color: $_maintext;
          &:after{
            display: none;
          }
        }
      }
    }
    .actions{
        float: right;
        width: auto;
        margin-right: 24px;
        padding-top: 5px;
        .next,.back{
            width: 28px;
            height: 28px;
            border-radius: 14px;
            background: $_background;
            float: left;
            margin-left: 10px;
            cursor: pointer;
            padding: 6px;
            img{
                width: 16px;
                height: 16px;
                opacity: 0.9;
            }
            &:hover{
                background: $_hover;
            }
        }
        .next{
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
        }
    }



  }
  