@import "src/styles/_variables.scss";
.form-addcategory {
  .form-row {
    width: 100%;
    display: table;
    border-bottom: 1px solid #eee;
    .form-col-3 {
      width: 25%;
      float: left;
    }
    .form-col-6 {
      width: 50%;
      float: left;
    }
    .form-col-9 {
      width: 75%;
      float: left;
    }
    .form-col-12 {
      width: 100%;
      float: left;
    }
    [class^="form-col-"] {
      position: relative;
      &:after {
        content: "";
        width: 1px;
        height: 100%;
        background: #eee;
        position: absolute;
        right: 0;
        top: 0;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .right-block {
    float: right;
    width: 34px;
    .action-right {
      width: 34px;
      height: 34px;
      margin-top: 10px;
      padding: 8px;
      border-radius: 17px;
      img {
        width: 100%;
      }
      &:hover {
        background: $_hover;
        cursor: pointer;
      }
    }
  }
  .left-block {
    margin-right: 30px;
  }
}