
.tooltip {
    position: relative;
    &:after {
      opacity: 0;
      position: absolute;
      visibility: hidden;
      content: attr(data-tooltip);
      padding: 5px 10px;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%) translateY(-2px);
      background: #3d3d3d;
      color: white;
      white-space: nowrap;
      z-index: 2;
      border-radius: 15px;
      transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
      font-size: 10px;
    }
    &:before {
      content: "";
      width: 0;
      height: 0;
      visibility: hidden;
      border-left: solid 5px transparent;
      border-right: solid 5px transparent;
      border-bottom: solid 5px #3d3d3d;
      opacity: 0;
      position: absolute;
      transform: translateX(-50%) translateY(-2px);
      bottom: -7px;
      left: 50%;
      transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
      z-index: 3;
      display: none;
    }
    &:hover {
      &:after {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
      }
      &:before {
        display: none;
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
      }
    }
  }