$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$_primary: #F4281C;
$_neutral: #171E27;
$_neutral-blue: #16315B;
$_success: #4CD964;
$_warning: #FF9500;
$_highlight: #FFCC00;
$_cyan: #007AFF;
$_purple: #513DBE;
$_white: #ffffff;

$_red: #FF3B30;
$_pink: #FF2D55;
$_green: #4CD964;
$_green_hover: #4ad161;
$_blue: #007AFF;
$_blue_menu: #4285F4;
$_skyblue: rgb(121, 181, 245);
$_darkblue: #00386A;
$_purple: #5838D6;
$_orange: #FF9500;
$_yellow: #FFCC00;
$_blue_light: #5AC8FA;
$_white: #ffffff;
$_hover: #EDF1F5;
$_background: #F8F9FA;
$_lines: #B9C1CC;
$_subtext-light: #77869b;
$_subtext: #566881;
$_maintext: #171E27;
$_link: #FF3B30;
$_button_hover: #F4281C;
$_selection_background: #f4f6f7;
$_hover_background: #F4F6F9;

$primary: (
  900: (
    value: $_primary,
    opacity: 1
  ),
  700: (
    value: $_primary,
    opacity: 0.7
  ),
  500: (
    value: $_primary,
    opacity: 0.5
  ),
  300: (
    value: $_primary,
    opacity: 0.3
  ),
  100: (
    value: $_primary,
    opacity: 0.2
  )
) !default;

$neutral: (
  900: (
    value: $_neutral,
    opacity: 1
  ),
  700: (
    value: $_neutral,
    opacity: 0.7
  ),
  500: (
    value: $_neutral,
    opacity: 0.5
  ),
  300: (
    value: $_neutral,
    opacity: 0.3
  ),
  100: (
    value: $_neutral,
    opacity: 0.2
  )
) !default;

$neutral-blue: (
  900: (
    value: $_neutral-blue,
    opacity: 1
  ),
  700: (
    value: $_neutral-blue,
    opacity: 0.7
  ),
  500: (
    value: $_neutral-blue,
    opacity: 0.5
  ),
  300: (
    value: $_neutral-blue,
    opacity: 0.3
  ),
  100: (
    value: $_neutral-blue,
    opacity: 0.2
  )
) !default;

$success: (
  900: (
    value: $_success,
    opacity: 1
  ),
  700: (
    value: $_success,
    opacity: 0.7
  ),
  500: (
    value: $_success,
    opacity: 0.5
  ),
  300: (
    value: $_success,
    opacity: 0.3
  ),
  100: (
    value: $_success,
    opacity: 0.2
  )
) !default;

$warning: (
  900: (
    value: $_warning,
    opacity: 1
  ),
  700: (
    value: $_warning,
    opacity: 0.7
  ),
  500: (
    value: $_warning,
    opacity: 0.5
  ),
  300: (
    value: $_warning,
    opacity: 0.3
  ),
  100: (
    value: $_warning,
    opacity: 0.2
  )
) !default;

$highlight: (
  900: (
    value: $_highlight,
    opacity: 1
  ),
  700: (
    value: $_highlight,
    opacity: 0.7
  ),
  500: (
    value: $_highlight,
    opacity: 0.5
  ),
  300: (
    value: $_highlight,
    opacity: 0.3
  ),
  100: (
    value: $_highlight,
    opacity: 0.2
  )
) !default;

$cyan: (
  900: (
    value: $_cyan,
    opacity: 1
  ),
  700: (
    value: $_cyan,
    opacity: 0.7
  ),
  500: (
    value: $_cyan,
    opacity: 0.5
  ),
  300: (
    value: $_cyan,
    opacity: 0.3
  ),
  100: (
    value: $_cyan,
    opacity: 0.2
  )
) !default;

$purple: (
  900: (
    value: $_purple,
    opacity: 1
  ),
  700: (
    value: $_purple,
    opacity: 0.7
  ),
  500: (
    value: $_purple,
    opacity: 0.5
  ),
  300: (
    value: $_purple,
    opacity: 0.3
  ),
  100: (
    value: $_purple,
    opacity: 0.2
  )
) !default;

$colors: (
  "primary": $primary,
  "neutral": $neutral,
  "neutral-blue": $neutral-blue,
  "success": $success,
  "warning": $warning,
  "highlight": $highlight,
  "cyan": $cyan,
  "purple": $purple
) !default;

$white: #FFFFFF;
$weights: (400, 700, 900) !default;
$aligns: (left, center, right) !default;
$font-sizes: (30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8) !default;

$radius: 6px !default;
$default-weight: 400 !default;

$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16) !default;
$transition: all 0.3s linear !default;