<div class="scroller">
  <div class="section-header">
    <div class="heading subheading">Add Your Activity</div>
  </div>
  <div class="modules">
    
    <div class="module">
      <div class="icon green">
        <img src="/assets/images/icons/sales orderldpi.svg" alt="" />
      </div>
      <div class="label highlight">Sales Order</div>
    </div>
    <div class="module">
      <div class="icon orange">
        <img src="/assets/images/icons/sales orderldpi.svg" alt="" />
      </div>
      <div class="label highlight">Checklist</div>
    </div>
    <div class="module">
      <div class="icon darkblue">
        <img src="/assets/images/icons/notesldpi.svg" alt="" />
      </div>
      <div class="label highlight">Notes</div>
    </div>
    <div class="module">
      <div class="icon blue">
        <img src="/assets/images/icons/attachementsldpi.svg" alt="" />
      </div>
      <div class="label highlight">Attachments</div>
    </div>
  </div>
</div>

<div class="section-header">
  <div class="heading subheading">Checklist (20)</div> 
</div>
<div class="checklists">
  <div class="checklist">
    <div class="checkbox"></div>
    <div class="text">Check the POP display</div>
  </div>
  <div class="checklist">
    <div class="checkbox"></div>
    <div class="text">Get the invoice signed and delivered</div>
  </div>
  <div class="checklist">
    <div class="checkbox"></div>
    <div class="text">New dealer board installation</div>
  </div>
</div>




<div class="section-header">
  <div class="heading subheading">Notes (2)</div>
  <div class="action highlight"></div>
</div>
<div class="notes">
  <div class="note">
    <div class="content">
      <div class="name highlight two-lines"> Seeking guidance on electrical wiring installation on the new product. Seeking guidance on electrical wiring installation on the new product. Seeking guidance on electrical wiring installation on the new product. Seeking guidance on electrical wiring installation on the new product.</div>
      <div class="info smalltext">on Mon 7 Dec 17 by <span>You</span></div>
    </div>
  </div>
  <div class="note">
    <div class="content">
      <div class="name highlight">Seeking guidance on electrical wiring installation on the new product.</div>
      <div class="info smalltext">on Mon 7 Dec 17 by <span>You</span></div>
    </div>
  </div>
</div>




