@import "src/styles/_variables.scss";
.form-add-related-company {
  position: relative;
  max-height: 100%;
  height: 100%;
  .search-box-fixed{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;;
  }
}
.rp-container{
  overflow-y: scroll;
  max-height: 100%;
  display: block;
}
.related-companys {
  position: relative;
  display: table;
  width: 100%;
  margin-top: 10px;
  margin-top: 0px;
  height: auto;
  ul {
    display: block;
    height: 40px;
    margin: 1px 0;
    font-size: 12px;
    .highlight{
      font-size: 12px;
    }
    .paragraph{
      font-size: 12px;
    }
    &.headings {
      background: $_white;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      li {
        color: $_subtext !important;
        position: relative;
        cursor: pointer;
        .order-type {
          position: absolute;
          width: 40px;
          height: 40px;
          padding: 12px;
          right: 0;
          top: 0;
          opacity: 0.6;
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
    &.content {
      li {
        color: $_subtext;
      }
    }
    li {
      height: 40px;
      float: left;
      padding: 10px 5px;
      vertical-align: middle;
      line-height: normal;
      line-height: 1.5;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .vehicleimage {
        width: 28px;
        height: 28px;
        margin-top: -3px;
        margin-left: -2px;
        border-radius: 14px;
        overflow: hidden;
        background: $_green;
        &.car {
          background: #ffcc00;
        }
        &.bike {
          background: #5838d6;
        }
        &.auto {
          background: #5ac8fa;
        }
        &.bus {
          background: #007aff;
        }
        &.truck {
          background: #007aff;
        }
        img {
          display: inline-block;
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
          filter: brightness(0) invert(1);
          padding: 5px;
        }
      }
      &:nth-child(1) {
        width: 8%;
        text-align: center;
      }
      &:nth-child(2) {
        width: 7%;
        overflow: initial;
      }
      &:nth-child(3) {
        width: 16%;
      }
      &:nth-child(4) {
        width: 26%;
        color: $_maintext;
      }
      &:nth-child(5) {
        width: 28%;
      }
      &:nth-child(6) {
        width: 15%;
      }
    }
    .not-selected {
      &.hover {
        background: $_hover_background;
      }
    }
    &.selected {
      li {
        background: $_selection_background;
      }
    }
    .checkbox {
      width: 18px;
      height: 18px;
      border-radius: 5px;
      margin: 1px 0px 0 8px;
      border: 1px solid $_lines;
      position: relative;
      cursor: pointer;
      &:hover {
        background: $_background;
      }
      &.checked {
        &::before {
          content: "L";
          position: absolute;
          top: -2px;
          left: 4px;
          transform: rotate(40deg) scaleX(-1);
          font-weight: 800;
          color: $_red;
        }
      }
    }

    .avtar {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      background: $_background;
      margin: -6px -5px;
      overflow: hidden;
      position: relative;
      .text {
        font-size: 14px;
        margin: 0 auto;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        display: table;
        width: 100%;
        line-height: 36px;
      }
      .image {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        overflow: hidden;
        top: 0;
        left: 0;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .action {
    width: 40px;
    height: 40px;
    margin: -10px -5px;
  }
}
