.chart {
  display: flex;
  justify-content: center;

  > * {
    width: 75%;
  }
}

ul {
  list-style: none;
  padding: 0 15px;

  li {
    display: inline-block;
    margin-right: 18px;

    span {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 4px;
    }
  }
}
