@import "/src/styles/_variables.scss";
.contacts {
  position: relative;
  display: table;
  width: 100%;
  padding-top: 10px;
  ul {
    display: block;
    height: 40px;
    margin: 1px 0;
    &.headings {
      background: $_white;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      li {
        color: $_subtext !important;
        position: relative;
        cursor: pointer;
        .order-type {
          position: absolute;
          width: 14px;
          right: 16px;
          top: 12px;
          opacity: 0.6;
          img {
            width: 18px;
            height: 18px;
            display: block;
          }
        }
      }
    }
    li {
      height: 40px;
      float: left;
      padding: 10px 5px;
      vertical-align: middle;
      line-height: normal;
      line-height: 1.5;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .vehicleimage {
        width: 34px;
        height: 34px;
        margin-top: -7px;
        margin-left: -2px;
        border-radius: 17px;
        overflow: hidden;
        background: $_green;
        &.car {
          background: #ffcc00;
        }
        &.bike {
          background: #5838d6;
        }
        &.auto {
          background: #5ac8fa;
        }
        &.bus {
          background: #007aff;
        }
        &.truck {
          background: #007aff;
        }
        img {
          display: inline-block;
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
          filter: brightness(0) invert(1);
          padding: 5px;
        }
      }
      &:nth-child(1) {
        width: 3%;
        text-align: center;
      }
      &:nth-child(2) {
        width: 4%;
        overflow: initial;
      }
      &:nth-child(3) {
        width: 7%;
      }
      &:nth-child(4) {
        width: 15%;
        color: $_maintext;
      }
      &:nth-child(5) {
        width: 11%;
      }
      &:nth-child(6) {
        width: 11%;
      }
      &:nth-child(7) {
        width: 6%;
      }
      &:nth-child(8) {
        width: 7%;
      }
      &:nth-child(9) {
        width: 7%;
      }
      &:nth-child(10) {
        width: 5%;
      }
      &:nth-child(11) {
        width: 4%;
      }
      &:nth-child(12) {
        width: 7%;
      }
      &:nth-child(13) {
        width: 6%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:nth-child(14) {
        overflow: initial;
      }
    }
    &.content {
      li {
        color: $_subtext;
        &:nth-child(11) {
          overflow: initial;
        }
      }
    }
    .not-selected {
      &.hover {
        background: $_hover_background;
      }
    }
    &.selected {
      li {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          background: $_selection_background;
        }
        &:nth-child(2) {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        &:nth-child(9) {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
    }
    .checkbox {
      width: 18px;
      height: 18px;
      border-radius: 5px;
      margin: 1px 0px 0 8px;
      border: 1px solid $_lines;
      position: relative;
      cursor: pointer;
      &:hover {
        background: $_background;
      }
      &.checked {
        &::before {
          content: "L";
          position: absolute;
          top: -3px;
          left: 4px;
          transform: rotate(40deg) scaleX(-1);
          font-weight: 800;
          color: $_red;
        }
      }
    }
    .score {
      padding: 5px 0px;
      opacity: 0.5;
      border-radius: 15px;
      line-height: 19px;
      text-align: center;
      color: #fff;
      margin: -4px;
      margin-right: 10px;
      &.green {
        background: $_green;
      }
      &.blue {
        background: $_blue;
      }
      &.red {
        background: $_red;
      }
      &.yellow {
        background: $_yellow;
      }
      &.grey {
        background: $_maintext;
      }
    }
    .avtar {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      background: $_background;
      margin: -6px -5px;
      overflow: hidden;
      position: relative;
      .text {
        font-size: 14px;
        margin: 0 auto;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        display: table;
        width: 100%;
        line-height: 36px;
      }
      .image {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        overflow: hidden;
        top: 0;
        left: 0;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .action {
    width: 40px;
    height: 40px;
    margin: -10px -5px;
    float: right;
    margin-right: 20px;
  }
}

.info-window {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 1px solid #eee;
  display: inline-block;
  .info-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    .heading {
      color: $_maintext;
      padding: 15px 20px;
    }
    .refresh {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      padding: 6px;
      position: absolute;
      top: 11px;
      right: 10px;
      cursor: pointer;
      &:hover {
        background: $_hover;
      }
      img {
        width: 100%;
      }
    }
  }
  .info-content {
    margin-top: 40px;
    padding: 5px 20px;
    height: 100%;
    .date {
      color: $_subtext;
      padding: 5px 0;
    }
    .activity {
      padding: 10px 0;
      border-bottom: 1px solid #eee;
      display: table;
      width: 100%;
      &:last-child {
        border-bottom: 0px;
      }
      .icon {
        background: $_orange;
        width: 26px;
        height: 26px;
        border-radius: 13px;
        padding: 2px;
        float: left;
        img {
          width: 100%;
          filter: invert(100%);
          -webkit-filter: invert(100%);
        }
      }
      .content {
        margin-left: 35px;
        .heading {
          color: $_maintext;
          padding: 0 0 2px 0px;
        }
        .inrormation {
          color: $_subtext;
          padding: 2px 0px;
        }
        .attributes {
          .attribute {
            padding: 2px 0px;
            color: $_subtext;
            width: auto;
            margin-right: 10px;
            opacity: 0.8;
            float: left;
            &.pull-right {
              float: right;
            }
          }
        }
      }
    }
    .norecord {
      font-size: 12px;
      color: $_subtext;
      padding: 10px 0 10px 0px;
    }
  }
}

.loader {
  img {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
}

ul:not(.selected) {
  &:hover {
    background: $_hover_background;
  }
}

.tags {
  display: flex;
  .tag {
    color: $_subtext;
    width: auto;
    float: left;
    margin-right: 5px;
    padding-left: 7px;
    position: relative;
    &::before {
      content: "";
      width: 3px;
      height: 3px;
      border-radius: 1.5px;
      background: $_subtext;
      position: absolute;
      left: 0;
      top: 8px;
    }
  }
  .tag:first-child {
    padding-left: 0px;
    &::before {
      display: none;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
