@import "src/styles/_variables.scss";
.sidebar{
    overflow-x: hidden;
    .width-container{
        width: 200px;
    }
    .menu-switch{
        width: 48px;
        height: 48px;
        padding: 10px 11px;
        border-radius: 24px;
        cursor: pointer;
        img{
            width: 28px;
            opacity: 0.6;
        }
        &:hover{
            background: $_background;
        }
    }
    .menus{
        cursor: pointer;
        width: 100%;
        display: table;
        margin-top: 10px;
        position: relative;

        .left{
            width: 40px;
            height: 40px;
            padding: 8px 8px;
            border-radius: 20px;
            margin: 4px;
            float: left;
            opacity: .9;
            img{
                width: 24px;
                filter: brightness(0) invert(1);
                &.opacity-5{
                    opacity: .5;
                }
            }
            transition: background-color .3s ease-out;
            &:hover{
                background: #EAF1FE;
                opacity: 1;
            }
        }
        &.selected{
            
            .left{
                background: #EAF1FE;
            }
            &:after{
                content: '';
                position: absolute;
                width: 3px;
                height: 48px;
                top: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                right: 144px;
                background: $_red;
                transition: right .2s linear;
                display: none;
            }
            .bar{
                position: absolute;
                width: 3px;
                height: 48px;
                top: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                right: 144px;
                background: $_red;
                transition: right .2s linear;
            }
        }
        .right{
            float: left;
            width: 136px;
            padding: 15px 0 0 15px;
            color: $_subtext;
            
        }
    }
    .seperator{
        margin: 10px 10px 5px 10px;
        height: 1px;
        background: #eee;
    }

    
}
