@import "src/styles/_variables.scss";
.detailsheader {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  display: table;
  width: 100%;
  .backbutton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 13px;
    margin: 10px 20px 10px 0px;
    float: left;
    cursor: pointer;
    &:hover {
      background: $_hover;
    }
    img {
      width: 100%;
    }
  }
  .name-block {
    width: 58px;
    height: 58px;
    border-radius: 4px;
    border: 1px solid $_lines;
    float: left;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
    line-height: 54px;
    color: $_subtext;
  }
  .content {
    width: auto;
    float: left;
    margin-left: 15px;
    .heading {
      color: $_maintext;
      line-height: 32px;
      margin-bottom: 5px;
    }
    .info {
      .info1,
      .info2 {
        float: left;
        width: auto;
        display: inline;
        color: $_subtext;
        margin-right: 15px;
      }
      .info2 {
        color: $_pink;
      }
    }
    .tags{
      display: flex;
      .tag{
          color: $_subtext;
          width: auto;
          float: left;
          margin-right: 5px;
          padding-left: 7px;
          position: relative;
          &::before{
              content: '';
              width: 3px;
              height: 3px;
              border-radius: 1.5px;
              background: $_subtext;
              position: absolute;
              left: 0;
              top: 8px;
          }
      }
      .tag:first-child{
          padding-left: 0px;
          &::before{
              display: none;
          }
      }
  }
  }
  .right {
    width: auto;
    float: right;
    padding-top: 5px;
    .info {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      float: left;
      padding: 9px;
      margin: 5px;
      cursor: pointer;
      &:hover {
        background: $_hover;
      }
      img {
        opacity: 0.5;
        width: 22px;
      }
    }
    .add {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: $_red;
      float: left;
      padding: 11px;
      margin: 5px;
      cursor: pointer;
      &:hover {
        background: $_button_hover;
      }
      img {
        width: 18px;
      }
    }
  }
}
.complete {
  width: auto;
  background-color: $_green;
  float: left;
  padding: 3px;
  border-radius: 16px;
  height: auto;
  margin-top: 8px;
  .left {
    float: left;
    width: auto;
    color: $_white;
    padding: 4px 10px;
    font-size: 14px;
  }
  .right {
    float: right;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin-left: 0px;
    position: relative;
    background-color: #00000011;
    &::before {
      content: "L";
      position: absolute;
      top: 3px;
      left: 11px;
      transform: rotate(40deg) scaleX(-1);
      font-weight: 800;
      color: $_white;
    }
  }
  &:hover{
    background: $_green_hover;
    cursor: pointer;
  }
}

.groupactions{
  float: left;
  width: auto;
  margin-top: 5px;
  margin-left: 10px;
  .groupaction{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 5px;
    text-align:center;
    float: left;
    display: flex;
    cursor: pointer;
    position: relative;
    &:hover{
      background-color: $_hover;
    }
    .overlay{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      display: none;
      cursor: default;
    }
    .img{
      text-align: center;
      display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      img{
        width:24px;
        opacity: 0.8;
        
      }
    }

    .options-container {
      height: 0;
      position: relative;
      display: none;
      .options {
        position: absolute;
        max-height: 200px;
        overflow: scroll;
        background: $_white;
        border: 1px solid #eee;
        z-index: 20;
        top: 40px;
        border-radius: 6px;
        width: 134px;
        right: 0;
        box-shadow: 0px 3px 36px #00000029;
        border: 0.5px solid #EDF1F5;
        ul{
            li{
                padding: 8px 15px;
                color: $_subtext;
                font-size: 14px;
                cursor: pointer;
                text-align: left;
                font-weight: 400;
                &:hover{
                    background: $_hover;
                }
            }
        }
      }
    }
    &.open{
      background-color: $_hover;
      .options-container{
          display: block;
      }
      .overlay{
          display: block;
      }
    }
    
  }
}