.details-container{
    position: relative;
    .leftbox{
        padding: 16px;
    }
    .details-center{
        padding: 16px;
        margin-left: 276px;
        margin-right: 349px;
    }
    .details-left{
        position: absolute;
        width: 276px;
        .leftbox{
            width: 276px;
        }
    }
    .details-right{
        padding: 16px;
        position: absolute;
        right: 0;
        top: 0;
        width: 349px;
        height: 100%;

        padding-bottom: 64px;
    }
    .fixed{
        position: fixed;
        top: 64px;
    }
}
@media (max-width: 1100px){
    .details-container{
        .details-center{
            margin-right: 0;
    
        }
        .details-right{
            display: none;
        }
    }
    
}