@import "../../../styles/variables";

.reports {
  background-color: #f8f9fa;
  min-height: calc(100vh - 64px);

  .header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tags {
      display: flex;

      .tag {
        color: $_subtext;
        width: auto;
        float: left;
        margin-right: 5px;
        padding-left: 7px;
        position: relative;

        &::before {
          content: "";
          width: 3px;
          height: 3px;
          border-radius: 1.5px;
          background: $_subtext;
          position: absolute;
          left: 0;
          top: 8px;
        }
      }

      .tag:first-child {
        padding-left: 0px;

        &::before {
          display: none;
        }
      }
    }
  }
}

.report-welcome {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 84px;
  .inner {
    p {
      color: #171e27;
      font-size: 26px;
      font-weight: 700;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    span {
      color: #566881;
      font-size: 12px;
    }
  }
  .sub-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    border-radius: 8px;
    padding: 8px 12px;
    box-sizing: border-box;
    .sub-inner-date {
      display: flex;
      flex-direction: column;
    }
    .sub-inner-icon {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      padding: 8px;
      margin-left: 10px;
      img {
        width: 16px;
        height: 14px;
      }
    }
    span {
      color: #566881;
      font-size: 12px;
    }
    p {
      color: #171e27;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
  }
}

.report-grid-conainer {
  display: grid;
  background-color: #f8f9fa;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 140px;
  grid-gap: 20px;
  padding: 20px;
}

.parking-chart {
  grid-column: 1/2;
  grid-row: span 2;
}

.total-amount-closed-value {
  grid-column: 2/4;
  grid-row: span 3;
}

.revenue-by-hour {
  grid-column: 2/4;
  grid-row: span 3;
}

.pass-created {
  grid-row: span 3;
}

.pass-revenue {
  grid-row: span 2;
}

.total-amount-closed {
  grid-row: span 2;
}

.activity-by-time-of-the-day {
  grid-row: span 4;
}

.total-amount-closed-by-payment {
  grid-row: span 3;
}

.booking {
  grid-row: span 3;
}

.top-vehicle-category {
  grid-column: 3/4;
  grid-row: span 3;
  height: 400px;
}
