@import "src/styles/_variables.scss";
.logo {
  cursor: pointer;
  .logo1 {
    width: auto;
    height: 42px;
  }
  .logo2 {
    width: auto;
    height: 22px;
    margin-left: 10px;
  }
}

.header-cnt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inner-cnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
}

.parking-dropdown {
  align-items: center;
  margin-left: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 43px;
  cursor: pointer;
  height: 40px;
  display: flex;
  padding: 10px;
}

.filter-item {
  width: auto;
  float: left;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0px 0px 12px;
  &.datepicker {
    background-color: #f8f9fa;
    border-radius: 40px;
    padding-left: 5px;
    &.active {
      background-color: #ff3a300b;
    }
    ::ng-deep {
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #54688d;
        opacity: 1;
        /* Firefox */
      }
      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #54688d;
      }
      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #54688d;
      }
      .ant-picker-range {
        background: transparent;
        border: 0;
      }
      .ant-picker-focused {
        background: transparent;
        border: 0 !important;
        border-radius: 0 !important;
        box-shadow: none;
      }
    }
  }
  &.label {
    color: #54688d;
    font-weight: 500;
    font-size: 14px;
  }
  &.dropdown {
    background-color: #f8f9fa;
    border-radius: 40px;
    position: relative;
    min-width: 170px;
    &.active {
      background-color: #ff3a300b;
    }
    .dd-opener {
      cursor: pointer;
    }
    &.open-dropdown {
      .overlay {
        display: block;
      }
      .options-container {
        display: block;
      }
    }
    .label {
      padding: 0 20px;
      padding-right: 30px;
      font-size: 14px;
      color: #54688d;
    }
    .caret {
      width: 14px;
      height: 14px;
      position: absolute;
      right: 7px;
      top: 11px;
      transform: rotate(90deg);
      img {
        width: 100%;
      }
    }
  }
}

.header-search {
  width: 600px;
  padding: 3px 0 0 40px;
  position: relative;
  float: left;
  background: $_background;
  margin: 14px;
  border-radius: 20px;
  margin-left: 100px;
  .search-icon {
    width: 15px;
    position: absolute;
    left: 14px;
    top: 11px;
    opacity: 0.4;
  }
  input {
    background: none;
    border: none;
    height: 28px;
    margin-bottom: 4px;
    font-size: 14px;
    width: 100%;
    outline: none;
  }
  .search-results {
    display: none;
    top: 34px;
    left: 0;
    right: 0;
    margin-left: -40px;
    ul {
      margin-top: 5px;
      margin-bottom: 15px;
      li {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        font-size: 14px;
        padding: 5px;
        cursor: pointer;
        &:hover {
          background: $_hover;
        }
        .icon {
          float: left;
          width: 28px;
          height: 28px;
          border-radius: 14px;
          margin-left: 4px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .search-item {
          margin-left: 36px;
          font-weight: 400;
          height: 28px;
          padding-top: 6px;
          .dim {
            color: $_subtext-light;
            display: inline;
          }
          &.multiline {
            padding-top: 0px;
            .primary {
              .dim {
                color: $_maintext;
                opacity: 0.9;
              }
            }
            .secondry {
              color: $_subtext-light;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
  &.open {
    -webkit-box-shadow: 1px 1px 11px 0px rgba(181, 177, 181, 1);
    -moz-box-shadow: 1px 1px 11px 0px rgba(181, 177, 181, 1);
    box-shadow: 1px 1px 11px 0px rgba(181, 177, 181, 1);
    margin-top: 12px;
    padding: 5px 0 0 40px;
    .search-icon {
      top: 13px;
    }
    .search-results {
      display: block;
    }
  }
}

.header-right {
  float: right;
  position: relative;
  .right-menu {
    float: left;
    width: auto;
    ul {
      width: auto;
      margin: 0;
      padding: 0;
      margin-top: 12px;
      li {
        display: inline-block;
        margin-left: 10px;
        a {
          cursor: pointer;
          display: block;
          width: 40px;
          height: 40px;
          background: $_background;
          border-radius: 20px;
          padding: 10px;
          img {
            width: 20px;
          }
          &:hover {
            background: rgb(241, 242, 243);
          }
        }
      }
    }
  }
  .user-thumb {
    float: left;
    width: auto;
    padding: 6px 15px;
    .user-thumb-border {
      border: 4px solid #ffffff;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 25px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
      &:hover {
        border: 4px solid rgba(78, 100, 197, 0.363);
      }
      .user-initial {
        font-size: 16px;
        color: #586aff;
        font-weight: 500;
        padding: 10px;
        text-align: center;
        background: #e2e4fd;
      }
    }
    &.selected {
      .user-thumb-border {
        border: 4px solid rgba(78, 100, 197, 0.363);
      }
    }
  }
  .user-popup {
    .overlay {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
    }
    .popup-box {
      position: absolute;
      z-index: 15;
      background: #ffffff;
      width: 250px;
      right: 20px;
      top: 60px;
      border-radius: 15px;
      border: 1px solid $_background;
      box-shadow: 0px 2px 10px #00000029;
      overflow: hidden;
      .bottom {
        width: 100%;
        background: $_white;
        padding: 12px;
        .manages-by {
          color: #ff9500;
          font-size: 12px;
          margin: 0;
          span,
          .btn-logout {
            color: #171e27;
            font-size: 15px;
            font-weight: 500;
            margin-top: 10px;
            display: block;
          }
        }
      }
      .user {
        overflow: hidden;
        display: flex;
        align-items: center;
        background: #f8f9fa;
        height: 121px;
        padding: 15px;
        .user-main {
          width: 27%;
          margin-right: 14px;
        }
        .user-initial {
          font-size: 22px;
          color: #586aff;
          font-weight: 500;
          padding: 15px;
          text-align: center;
          background: #e2e4fd;
          width: 60px;
          height: 60px;
          background: #fff;
          border-radius: 50%;
        }
        .user-det {
          width: 73%;
          word-break: break-all;
          white-space: normal;
          font-size: 13px;
          .name {
            color: #171e27;
            font-weight: 700;
          }
        }
        .button {
          background: #ff3b30;
          color: #ffffff;
          padding: 4px 20px;
          width: auto;
          font-weight: 500;
          font-size: 13px;
          border-radius: 30px;
          display: inline-block;
          cursor: pointer;
          transition: all 0.2s;
          position: relative;
          margin-top: 5px;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 136px;
        margin-top: 0;
        .parking-option {
          padding: 10px 15px;
          width: 100%;
          font-size: 15px;
          &:hover {
            background: $_background;
          }
        }
        .manages-by {
          color: #ff9500;
          font-size: 12px;
          margin: 0;
          &:hover {
            background: none;
          }
        }
        .name {
          font-size: 15px;
          color: $_maintext;
          font-weight: 600;
          cursor: pointer;
        }
        .designation {
          font-size: 15px;
          color: $_subtext;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .button-container {
          padding-top: 10px;
        }
        .button {
          padding: 5px 15px;
          font-size: 14px;
          background: #586aff;
        }
      }
      .warning {
        color: $_warning;
        font-size: 12px;
        padding: 15px;
      }
    }
  }
}

.module-popup {
  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
  }
  .popup-box {
    position: absolute;
    z-index: 15;
    background: #ffffff;
    width: 350px;
    left: 2px;
    top: 64px;
    border-radius: 5px;
    border: 1px solid #f8f9fa;
    box-shadow: 0px 4px 10px 3px #0000002e;
    overflow: hidden;
    padding: 10px;
    .icons-container {
      width: 33.33%;
      float: left;
      padding: 5px;
      .icon {
        width: 100%;
        padding: 10px;
        padding-bottom: 7px;
        cursor: pointer;
        position: relative;
        img {
          width: 100%;
        }
        &:hover {
          background: $_background;
        }
        &.selected {
          .selector {
            background: $_yellow;
            position: absolute;
            bottom: 0px;
            height: 4px;
            width: 70px;
            left: 14px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
          }
          background: $_background;
        }
        .title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
          padding: 4px 0 2px 0;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .header-search {
    width: 280px;
    margin-left: 20px;
  }
}

.options-container {
  height: 0;
  display: none;
  .options {
    position: absolute;
    background-color: #f8f9fa;
    border: 1px solid #eee;
    padding: 0px;
    z-index: 50;
    left: 0;
    top: 34px;
    .dropdown-scroll {
      // overflow-y: scroll;
      // max-height: 200px;
    }
  }
}
