@import "src/styles/_variables.scss";
.db-blocks {
  margin: 10px;
  .db-block {
    width: 50%;
    float: left;
    padding: 10px;
    .b-content {
      background: #fff;
      border-radius: 15px;
      .head {
        padding: 15px;
        border-bottom: 1px solid $_hover;
        .heading {
          color: $_maintext;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 3px;
        }
        .sub-heading {
          color: $_subtext;
          font-size: 14px;
        }
      }
      .content {
        padding: 15px;
        .status {
          margin-bottom: 10px;
          .icon {
            width: 16px;
            height: 16px;
            background: $_green;
            border-radius: 8px;
            color: #fff;
            float: left;
          }
          .status-message {
            line-height: 16px;
          }
        }
        .ui-prak {
          width: 100%;
          height: 40px;
          margin-bottom: 5px;
          background: $_hover;
          .element-prak {
            width: 10%;
            float: left;
            height: 100%;
          }
        }
        .info-park {
          margin-bottom: 16px;
          width: 100%;
          display: table;
          .info-item {
            float: left;
            margin-right: 10px;
            width: auto;
            .icon {
              width: 14px;
              height: 14px;
              border-radius: 7px;
              float: left;
              margin-top: 2px;
            }
            .label {
              font-size: 13px;
              float: left;
              width: auto;
              color: $_subtext;
              margin-left: 5px;
            }
          }
        }
        .arrtibutes {
          display: flex;
          justify-content: space-between;
          .attribute {
            padding-right: 20px;
            .label {
              font-size: 13px;
              color: $_subtext;
              width: 100%;
            }
            .value {
              color: $_maintext;
              font-size: 16px;
              width: 100%;
            }
          }
        }
        .car {
          background: #00386a;
        }
        .bike {
          background: #007aff;
        }
        .auto {
          background: #5ac8fa;
        }
        .bus {
          background: #ff9500;
        }
        .lead {
          background: #ffcc00;
        }
      }
    }
  }
}

.info-window {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 1px solid #eee;
  display: inline-block;
  position: fixed;
  .info-header {
    width: 350px;
    top: 0;
    left: 0;
    overflow-x: scroll;
    .heading {
      color: $_maintext;
      padding: 15px 20px;
    }
    .refresh {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      padding: 6px;
      position: absolute;
      top: 11px;
      right: 10px;
      cursor: pointer;
      &:hover {
        background: $_hover;
      }
      img {
        width: 100%;
      }
    }
  }
  .info-content {
    margin-top: 0px;
    padding: 5px 20px;
    height: 100%;
    overflow-y: scroll;
    .date {
      color: $_subtext;
      padding: 5px 0;
    }
    .activity {
      padding: 10px 0;
      border-bottom: 1px solid #eee;
      display: table;
      width: 100%;
      &:last-child {
        border-bottom: 0px;
      }
      .icon {
        background: $_orange;
        width: 26px;
        height: 26px;
        border-radius: 13px;
        padding: 2px;
        float: left;
        img {
          width: 100%;
          filter: invert(100%);
          -webkit-filter: invert(100%);
        }
      }
      .content {
        margin-left: 35px;
        .heading {
          color: $_maintext;
          padding: 0 0 2px 0px;
        }
        .inrormation {
          color: $_subtext;
          padding: 2px 0px;
        }
        .attributes {
          .attribute {
            padding: 2px 0px;
            color: $_subtext;
            width: auto;
            margin-right: 10px;
            opacity: 0.8;
            float: left;
            &.pull-right {
              float: right;
            }
          }
        }
      }
    }
    .norecord {
      font-size: 12px;
      color: $_subtext;
      padding: 10px 0 10px 0px;
    }
  }
}

.live-view {
  margin-top: 20px;
  display: flex;
  border-top: 1px solid #eee;
  padding-top: 20px;
  .inner {
    display: flex;
    align-items: center;
  }
  .sub-inner {
    margin-left: auto;
    a {
      color: #ff3b30;
      text-decoration: none;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .icon {
    width: 16px;
    height: 16px;
    background: #4cd964;
    border-radius: 8px;
    color: #fff;
    float: left;
    margin-right: 5px;
  }
}
