@import "src/styles/_variables.scss";
.listaction {
  width: 100%;
  height: 100%;
  position: relative;
  .overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}
  .menu-button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    img {
      width: 17px;
      margin: 12px;
      opacity: 0.5;
    }
    &:hover {
      background: $_hover;
    }
  }
  .option-container {
    display: none;
    position: absolute;
    width: 154px;
    right: 50px;
    z-index: 20;
    -webkit-box-shadow: 0px 3px 20px -1px rgba(179, 179, 179, 1);
    -moz-box-shadow: 0px 3px 20px -1px rgba(179, 179, 179, 1);
    box-shadow: 0px 3px 20px -1px rgba(179, 179, 179, 1);
    background: $_white;
    padding: 10px 0;
    border-radius: 10px;
    top: 0;
    ul {
      li {
        display: block;
        height: 32px;
        cursor: pointer;
        &:hover {
          background: $_hover;
        }
        .item {
          width: auto;
          float: left;
          padding: 6px 0 5px 15px;
        }
        .icon {
          width: 24px;
          height: 24px;
          float: right;
          margin-top: 3px;
          margin-right: 10px;
          padding: 2px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  &.open {
    .menu-button {
      background: $_hover;
    }
    .option-container {
      display: block;
    }
    .overlay{
        display: block;
    }
  }
}
