<div class="scroller">
  <div class="section-header">
    <div class="heading subheading">Add Your Activity</div>
  </div>
  <div class="modules">
    <div class="module ">
      <div class="icon green">
        <img src="/assets/images/icons/sales orderldpi.svg" alt="" />
      </div>
      <div class="label highlight">Sales Order</div>
    </div>
    <div class="module">
      <div class="icon orange">
        <img src="/assets/images/icons/productldpi.svg" alt="" />
      </div>
      <div class="label highlight">Products</div>
    </div>
    <div class="module">
      <div class="icon darkblue">
        <img src="/assets/images/icons/notesldpi.svg" alt="" />
      </div>
      <div class="label highlight">Notes</div>
    </div>
    <div class="module">
      <div class="icon blue">
        <img src="/assets/images/icons/contactldpi.svg" alt="" />
      </div>
      <div class="label highlight">Cases</div>
    </div>
    <div class="module">
      <div class="icon orange">
        <img src="/assets/images/icons/tasksldpi.svg" alt="" />
      </div>
      <div class="label highlight">Tasks</div>
    </div>
    <div class="module">
      <div class="icon blue">
        <img src="/assets/images/icons/opportunityldpi.svg" alt="" />
      </div>
      <div class="label highlight">Opportunities</div>
    </div>
    <div class="module">
      <div class="icon skyblue">
        <img src="/assets/images/icons/feedbackldpi.svg" alt="" />
      </div>
      <div class="label highlight">Campaigns</div>
    </div>
    <div class="module">
      <div class="icon yellow">
        <img src="/assets/images/icons/attachementsldpi.svg" alt="" />
      </div>
      <div class="label highlight">Attachments</div>
    </div>
  </div>
</div>



<div class="section-header">
  <div class="heading subheading">Tasks (20)</div>
  <div class="action highlight">View All</div>
</div>
<div class="tasks">
  <div class="single-line">
    <div class="task">
      <div class="radio"></div>
      <div class="icon">N</div>
      <div class="content">
        <div class="name highlight">Court date karkarduma</div>
        <div class="info online smalltext">Mon 7 Dec 17 | Completed</div>
        <div class="users">
          <div class="user">
            <img src="/assets/images/user.jpg" alt="" />
          </div>
          <div class="user">
            <img src="/assets/images/user2.jpeg" alt="" />
          </div>
          <div class="user">
            <img src="/assets/images/user3.jpeg" alt="" />
          </div>
          <div class="user">
            <img src="/assets/images/user4.jpeg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="task">
      <div class="radio"></div>
      <div class="icon">N</div>
      <div class="content">
        <div class="name highlight">Project daily stand-up Aadinath Retails</div>
        <div class="info online smalltext">Mon 7 Dec 17 | Not Started</div>
      </div>
    </div>
  </div>
  <div class="single-line">
    <div class="task">
      <div class="radio"></div>
      <div class="icon">N</div>
      <div class="content">
        <div class="name highlight">Court date karkarduma</div>
        <div class="info online smalltext">Mon 7 Dec 17 | Completed</div>
        <div class="users">
          <div class="user">
            <img src="/assets/images/user.jpg" alt="" />
          </div>
          <div class="user">
            <img src="/assets/images/user2.jpeg" alt="" />
          </div>
          <div class="user">
            <img src="/assets/images/user3.jpeg" alt="" />
          </div>
          <div class="user">
            <img src="/assets/images/user4.jpeg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="task">
      <div class="radio"></div>
      <div class="icon">N</div>
      <div class="content">
        <div class="name highlight">Project daily stand-up Aadinath Retails</div>
        <div class="info online smalltext">Mon 7 Dec 17 | Not Started</div>
        <div class="users">
          <div class="user">
            <img src="/assets/images/user.jpg" alt="" />
          </div>
          <div class="user">
            <img src="/assets/images/user2.jpeg" alt="" />
          </div>
          <div class="user">
            <img src="/assets/images/user3.jpeg" alt="" />
          </div>
          <div class="user">
            <img src="/assets/images/user4.jpeg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-header">
  <div class="heading subheading">Products (12)</div>
  <div class="action highlight">View All</div>
</div>
<div class="products">
  <div class="product">
    <div class="icon skyblue">
      <img src="/assets/images/sample/product.png" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Image can be of any size, this has to fit in the container.</div>
      <div class="info paragraph">B564</div>
    </div>
  </div>
  <div class="product">
    <div class="icon skyblue">
      <img src="/assets/images/sample/product.png" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Breville Compact Juice Four Blade Machine</div>
      <div class="info paragraph">B564</div>
    </div>
  </div>
  <div class="product">
    <div class="icon skyblue">
      <img src="/assets/images/sample/product.png" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Breville Compact Juice Four Blade Machine</div>
      <div class="info paragraph">B564</div>
    </div>
  </div>
  <div class="product">
    <div class="icon skyblue">
      <img src="/assets/images/sample/product.png" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Breville Compact Juice Four Blade Machine</div>
      <div class="info paragraph">B564</div>
    </div>
  </div>
</div>



<div class="section-header">
  <div class="heading subheading">Notes (2)</div>
  <div class="action highlight"></div>
</div>
<div class="notes">
  <div class="note">
    <div class="content">
      <div class="name highlight two-lines"> Seeking guidance on electrical wiring installation on the new product. Seeking guidance on electrical wiring installation on the new product. Seeking guidance on electrical wiring installation on the new product. Seeking guidance on electrical wiring installation on the new product.</div>
      <div class="info smalltext">on Mon 7 Dec 17 by <span>You</span></div>
    </div>
  </div>
  <div class="note">
    <div class="content">
      <div class="name highlight">Seeking guidance on electrical wiring installation on the new product.</div>
      <div class="info smalltext">on Mon 7 Dec 17 by <span>You</span></div>
    </div>
  </div>
</div>


<div class="section-header">
  <div class="heading subheading">Attachments (4)</div>
  <div class="action highlight">View All</div>
</div>
<div class="attachments">
  <div class="attachment">
    <div class="icon skyblue">
      <img src="/assets/images/sample/attachment1.jpg" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Attachment_2018-02-23-15-09.jpg</div>
      <div class="info smalltext">Mon 22 Jan 18 4:37 pm by <span>kormoan</span></div>
    </div>
  </div>
  <div class="attachment">
    <div class="icon skyblue">
      <img src="/assets/images/sample/attachment2.jpg" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Attachment_2018-02-23-15-09.jpg</div>
      <div class="info smalltext">Mon 22 Jan 18 4:37 pm by <span>kormoan</span></div>
    </div>
  </div>
  <div class="attachment">
    <div class="icon skyblue">
      <img src="/assets/images/sample/attachment1.jpg" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Attachment_2018-02-23-15-09.jpg</div>
      <div class="info smalltext">Mon 22 Jan 18 4:37 pm by <span>kormoan</span></div>
    </div>
  </div>
  <div class="attachment">
    <div class="icon skyblue">
      <img src="/assets/images/sample/attachment2.jpg" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Attachment_2018-02-23-15-09.jpg</div>
      <div class="info smalltext">Mon 22 Jan 18 4:37 pm by <span>kormoan</span></div>
    </div>
  </div>
</div>



<div class="section-header">
  <div class="heading subheading">Products (12)</div>
  <div class="action highlight">View All</div>
</div>
<div class="products">
  <div class="product">
    <div class="icon skyblue">
      <img src="/assets/images/sample/product.png" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Image can be of any size, this has to fit in the container.</div>
      <div class="info paragraph">B564</div>
    </div>
  </div>
  <div class="product">
    <div class="icon skyblue">
      <img src="/assets/images/sample/product.png" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Breville Compact Juice Four Blade Machine</div>
      <div class="info paragraph">B564</div>
    </div>
  </div>
  <div class="product">
    <div class="icon skyblue">
      <img src="/assets/images/sample/product.png" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Breville Compact Juice Four Blade Machine</div>
      <div class="info paragraph">B564</div>
    </div>
  </div>
  <div class="product">
    <div class="icon skyblue">
      <img src="/assets/images/sample/product.png" alt="" />
    </div>
    <div class="content">
      <div class="name highlight">Breville Compact Juice Four Blade Machine</div>
      <div class="info paragraph">B564</div>
    </div>
  </div>
</div>