.box-main {
  display: flex;

  .box {
    width: 50%;
    margin: 20px 0 5px;

    &:first-child {
      margin-right: 30px;
    }

    h2 {
      margin: 0;
    }

    p {
      color: #4cd964;
    }
  }
}
