@import "src/styles/_variables.scss";
.form-addproduct {
  padding-bottom: 10px;
  .form-row {
    width: 100%;
    display: table;
    border-bottom: 1px solid #eee;
    .form-col-3 {
      width: 25%;
      float: left;
    }
    .form-col-6 {
      width: 50%;
      float: left;
    }
    .form-col-9 {
      width: 75%;
      float: left;
    }
    .form-col-12 {
      width: 100%;
      float: left;
    }
    [class^="form-col-"] {
      position: relative;
      &:after {
        content: "";
        width: 1px;
        height: 100%;
        background: #eee;
        position: absolute;
        right: 0;
        top: 0;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .right-block {
    float: right;
    width: 34px;
    .action-right {
      width: 34px;
      height: 34px;
      margin-top: 8px;
      padding: 8px;
      border-radius: 17px;
      img {
        width: 100%;
      }
      &:hover {
        background: $_hover;
        cursor: pointer;
      }
    }
  }
  .left-block {
    margin-right: 30px;
  }
}
.chooseProduct{
  display: table;
  width: 100%;
  .labelchoose{
    color: $_maintext;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 0;
    width: auto;
    float: left;
  }
  .action-right {
    width: 34px;
    height: 34px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 17px;
    float: right;
    img {
      width: 100%;
    }
    &:hover {
      background: $_hover;
      cursor: pointer;
    }
  }
}
.taskTypes{
  width: 100%;
  display: table;
  margin-bottom: 10px;
  .taskType{
    width: auto;
    float: left;
    padding: 3px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    .taskIcon{
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background: #bbb;
      float: left;
      padding: 5px 5px;
      img{
        width: 20px;
        filter: brightness(0) invert(1);
      }
    }
    .taskTypeTitle{
      float: left;
      color: #333;
      padding: 5px 12px 5px 6px;
      font-size: 14px;
      font-weight: 500;
    }
    &.type1{
      &.selected{
        background: #DBF8E0;
      }
      .taskIcon{
        background: #4CD963;
      }
    }
    &.type2{
      &.selected{
        background: #fce9ce;
      }
      .taskIcon{
        background: #FF9500;
      }
    }
    &.type3{
      &.selected{
        background: #c3ddfa;
      }
      .taskIcon{
        background: #007AFF;
      }
    }
  }
}



.chooseProduct{
  display: table;
  width: 100%;
  .labelchoose{
    color: $_maintext;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 0;
    width: auto;
    float: left;
  }
  .action-right {
    width: 34px;
    height: 34px;
    margin-top: 10px;
    padding: 8px;
    border-radius: 17px;
    float: right;
    img {
      width: 100%;
    }
    &:hover {
      background: $_hover;
      cursor: pointer;
    }
  }
}

.invite-info{
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  .invite-name{
    color: $_maintext;
    font-size: 14px;
    font-weight: 500;
  }
  .invite-email{
    color: $_subtext;
    font-size: 12px;
  }
  .action-right{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 6px;
    cursor: pointer;
    transform: rotate(45deg);
    &:hover{
      background-color: $_hover;
    }
    img{
      width: 18px;
    }
  }
}