@import "src/styles/_variables.scss";
.form-input {
  position: relative;
  padding: 24px 0px 0px 0px;
  input {
    border: 0;
    background: transparent;
    color: $_maintext;
    font-size: 16px;
    outline: none;
    width: 100%;
  }
  .label {
    position: absolute;
    top: 17px;
    left: 0px;
    color: $_maintext;
    font-size: 16px;
    margin-left: 0px;
    transition: font-size 0.2s linear, color 0.2s linear, top 0.2s linear;
  }
  &.open {
    .label {
      font-size: 12px;
      color: $_subtext;
      top: 0px;
      left: 0px;
    }
  }
  &.error {
    .label {
      color: $_red;
    }
    input {
      color: $_red;
    }
  }
}
.error-info {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 10px;
  top: 15px;
  img {
    width: 100%;
  }
}
