<div class="scroller">
  <div class="section-header">
    <div class="heading subheading">Latest Activity</div>
    <div class="action">
      <img src="/assets/images/icons/icon-reload-circle.png" alt="" />
    </div>
  </div>
  <div class="activities">
    <div class="activity">
      <div class="icon green">
        <img src="/assets/images/icons/bull-horn.svg" alt="" />
      </div>
      <div class="content">
        <div class="heading highlight">Updated Profile</div>
        <div class="details paragraph">Contact details updated - Phone No, Address etc.</div>
        <div class="info smalltext">Mon 22 Jan 18 4:37 pm by <span>kormoan</span></div>
        <div class="comments-box">
          <div class="comment">
            <input type="text paragraph" placeholder="Comment" />
          </div>
          <div class="like">
            <img src="/assets/images/icons/icon-like.svg" alt="" />
          </div>
        </div>
        <div class="info">
          <div class="left smalltext">6 Comments</div>
          <div class="right smalltext">12 Likes</div>
        </div>
      </div>
    </div>
    <div class="activity">
      <div class="icon green">
        <img src="/assets/images/icons/bull-horn.svg" alt="" />
      </div>
      <div class="content">
        <div class="heading highlight">Updated Profile</div>
        <div class="details paragraph">Contact details updated - Phone No, Address etc.</div>
        <div class="info smalltext">Mon 22 Jan 18 4:37 pm by <span>kormoan</span></div>
        <div class="comments-box">
          <div class="comment">
            <input type="text paragraph" placeholder="Comment" />
          </div>
          <div class="like liked">
            <img src="/assets/images/icons/icon-like.svg" alt="" />
          </div>
        </div>
        <div class="info">
          <div class="left smalltext">6 Comments</div>
          <div class="right smalltext">12 Likes</div>
        </div>
      </div>
    </div>
    <div class="activity">
      <div class="icon green">
        <img src="/assets/images/icons/bull-horn.svg" alt="" />
      </div>
      <div class="content">
        <div class="heading highlight">Updated Profile</div>
        <div class="details paragraph">Contact details updated - Phone No, Address etc.</div>
        <div class="info smalltext">Mon 22 Jan 18 4:37 pm by <span>kormoan</span></div>
        <div class="comments-box">
          <div class="comment">
            <input type="text paragraph" placeholder="Comment" />
          </div>
          <div class="like">
            <img src="/assets/images/icons/icon-like.svg" alt="" />
          </div>
        </div>
        <div class="info">
          <div class="left smalltext">6 Comments</div>
          <div class="right smalltext">12 Likes</div>
        </div>
      </div>
    </div>
    <div class="activity">
      <div class="icon green">
        <img src="/assets/images/icons/bull-horn.svg" alt="" />
      </div>
      <div class="content">
        <div class="heading highlight">Updated Profile</div>
        <div class="details paragraph">Contact details updated - Phone No, Address etc.</div>
        <div class="info smalltext">Mon 22 Jan 18 4:37 pm by <span>kormoan</span></div>
        <div class="comments-box">
          <div class="comment">
            <input type="text paragraph" placeholder="Comment" />
          </div>
          <div class="like">
            <img src="/assets/images/icons/icon-like.svg" alt="" />
          </div>
        </div>
        <div class="info">
          <div class="left smalltext">6 Comments</div>
          <div class="right smalltext">12 Likes</div>
        </div>
      </div>
    </div>
    <div class="activity">
      <div class="icon green">
        <img src="/assets/images/icons/bull-horn.svg" alt="" />
      </div>
      <div class="content">
        <div class="heading highlight">Updated Profile</div>
        <div class="details paragraph">Contact details updated - Phone No, Address etc.</div>
        <div class="info smalltext">Mon 22 Jan 18 4:37 pm by <span>kormoan</span></div>
        <div class="comments-box">
          <div class="comment">
            <input type="text paragraph" placeholder="Comment" />
          </div>
          <div class="like">
            <img src="/assets/images/icons/icon-like.svg" alt="" />
          </div>
        </div>
        <div class="info">
          <div class="left smalltext">6 Comments</div>
          <div class="right smalltext">12 Likes</div>
        </div>
      </div>
    </div>
    <div class="activity">
      <div class="icon green">
        <img src="/assets/images/icons/bull-horn.svg" alt="" />
      </div>
      <div class="content">
        <div class="heading highlight">Updated Profile</div>
        <div class="details paragraph">Contact details updated - Phone No, Address etc.</div>
        <div class="info smalltext">Mon 22 Jan 18 4:37 pm by <span>kormoan</span></div>
        <div class="comments-box">
          <div class="comment">
            <input type="text paragraph" placeholder="Comment" />
          </div>
          <div class="like">
            <img src="/assets/images/icons/icon-like.svg" alt="" />
          </div>
        </div>
        <div class="info">
          <div class="left smalltext">6 Comments</div>
          <div class="right smalltext">12 Likes</div>
        </div>
      </div>
    </div>
  </div>
</div>