@import "src/styles/_variables.scss";
// .db-blocks {
//     margin: 10px;
//     .db-block {
//         width: 100%;
//         float: left;
//         padding: 10px;

//     }
// }

.head {
  padding: 15px;
  border-bottom: 1px solid $_hover;

  .heading {
    color: $_maintext;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
  }

  .sub-heading {
    color: $_subtext;
    font-size: 14px;
  }
}

.content {
  padding: 0 15px;

  .status {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    margin-left: 12px;
    maegin-top: 12px;

    .icon {
      width: 16px;
      height: 16px;
      background: $_green;
      border-radius: 8px;
      color: #fff;
      float: left;
    }

    .status-message {
      margin-left: 8px;
      font-size: 15px;
    }
  }

  .ui-prak {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    background: $_hover;
    display: flex;
    .element-prak {
      height: 100%;
    }
  }

  .info-park {
    width: 100%;
    display: table;

    .info-item {
      float: left;
      margin-right: 10px;
      width: auto;

      .icon {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        float: left;
        margin-top: 2px;
      }

      .label {
        font-size: 13px;
        float: left;
        width: auto;
        color: $_subtext;
        margin-left: 5px;
      }
    }
  }

  .live-view {
    display: flex;
    justify-content: space-between;
  }

  .car {
    background: #00386a;
  }

  .bike {
    background: #007aff;
  }

  .auto {
    background: #5ac8fa;
  }

  .bus {
    background: #ff9500;
  }

  .lead {
    background: #ffcc00;
  }
}

.footer-attribute {
  padding: 15px;
  padding-top: 0;
  .arrtibutes {
    display: flex;
    justify-content: space-between;

    .attribute {
      // padding-right: 20px;
      .label {
        font-size: 13px;
        color: $_subtext;
        width: 100%;
      }

      .value {
        color: $_maintext;
        font-size: 16px;
        width: 100%;
      }
    }
  }
}
