@import "src/styles/_variables.scss";
.page-wrapper {
  background: url("/assets/images/onboarding_join.png") no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: top;
  background-size: cover;

  .logo {
    width: auto;
    height: 64px;
    float: left;
    padding: 12px 0 0 12px;
    cursor: pointer;
    .logo1 {
      width: 40px;
      float: left;
    }
    .logo2 {
      width: auto;
      height: 30px;
      float: left;
      margin-top: 3px;
      margin-left: 10px;
    }
  }

  nav {
    width: auto;
    float: right;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        a {
          display: block;
          color: $_white;
          padding: 12px 20px;
          text-decoration: none;
          &.highlight {
            color: $_red;
            border-radius: 25px;
            margin: 15px;
            -webkit-transition: all 0.2s; /* Safari */
            transition: all 0.2s;
            &:hover {
              color: $_button_hover;
            }
          }
        }
      }
    }
  }
  .center-box-outer {
    width: 100%;
    height: 100%;
    .center-box {
      width: 430px;
      height: auto;
      margin: auto auto;
      margin-top: 100px;
      background: $_white;
      border-radius: 5px;
      padding: 40px;
      -webkit-box-shadow: 1px 2px 10px 0px rgba(189, 189, 189, 0.65);
      -moz-box-shadow: 1px 2px 10px 0px rgba(189, 189, 189, 0.65);
      box-shadow: 1px 2px 10px 0px rgba(189, 189, 189, 0.65);
    }
    .otp-container{
      margin: 10px;
      input{
        width: 40px;
        height: 40px;
        margin: 5px;
        float: left;
        border: 1px solid $_lines;
        border-radius: 4px;
        font-size: 20px;
        color: $_subtext;
        text-align: center;
        outline: none;
      }
    }
    .heading{
        font-size: 26px;
        font-weight: 600;
        color: $_maintext;
    }
    .text{
        font-size: 15px;
        font-weight: 400;
        color: $_subtext;
        margin-top: 16px;
    }

    .input-control{
        font-weight: 600;
        font-size: 22px;
    }
    .find-sistem{
        font-weight: 500;
        display: block;
        width: auto;
        float: left;
        color: $_red;
        padding-top: 15px;
        text-decoration: none;
        cursor: pointer;
    }
  }
}
footer{
  position: fixed;
  bottom: 20px;
  left: 30px;
  color: $_white;
  font-weight: 400;
  font-size: 10px;
  a{
    text-decoration: none;
    font-weight: 700;
    color: $_white;
    &:hover{
      text-decoration: underline;
    }
  }
}