@import "src/styles/_variables.scss";

.total-amount-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  grid-gap: 20px;
}

.box {
  .overview-content {
    padding: 0 15px;
    .amount {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-bottom: 1rem;

      .amount-changed {
        font-size: 12px;
        line-height: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          height: 10px;
          width: 10px;
        }
      }
    }

    ul {
      margin-bottom: 10px !important;
    }

    ul.vehicle-container {
      list-style: none;
      border-bottom: 1px solid #edf1f5;
      color: $_subtext;
      padding-bottom: 10px;
      li {
        display: flex;
        justify-content: space-between;
      }
    }

    .total-collection {
      list-style: none;
      color: $_subtext;
      font-weight: 600;
      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  h2 {
    margin: 0;
  }

  p {
    color: #4cd964;
  }
}
