@import "src/styles/_variables.scss";
.form-input{
  position: relative;
  height: auto;
  padding: 0px 7px 0px 0px;
  border-bottom: 1px solid $_hover;
  .clear{
    clear: both;
    float: none;
  }
  .line{
    border-bottom: 1px solid $_hover;
  }
  .product-info{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    .product-name{
      color: $_maintext;
      font-size: 14px;
      font-weight: 500;
    }
    .product-code{
      color: $_subtext;
      font-size: 12px;
    }
    .action-right{
      width: 30px;
      height: 30px;
      border-radius: 15px;
      position: absolute;
      right: 0;
      top: 10px;
      padding: 6px;
      cursor: pointer;
      transform: rotate(45deg);
      &:hover{
        background-color: $_hover;
      }
      img{
        width: 18px;
      }
    }
  }

  .data-row{
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    display: table;
      width: 100%;
      margin-top: 5px;
    .data-box{
      width: 20%;
      float: left;
      
      .label{
        font-size: 12px;
        color: $_subtext;
        position: relative;
        margin-bottom: 5px;
        .i_icon{
          font-size: 16px;
          display: inline-block;
          position: relative;
          width: 15px;
          height: 12px;
          cursor: pointer;
          .i_text{
            transform: rotate(90deg);
            position: absolute;
            left: 5px;
            top: -2px;
          }
          
        }
        .smalldd{
          position: absolute;
          top: 25px;
          right: 0;
          .items{
            width: 70px;
            background: #fff;
            border: 1px solid #eee;
            .item{
              padding: 3px 5px;
              font-size: 10px;
              color: $_subtext;
              border-bottom: 1px solid $_hover;
              cursor: pointer;
              &:hover{
                background: $_hover;
              }
            }
          }
        }
      }
      input{
        border: 0;
        background: transparent;
        color: $_maintext;
        font-size: 16px;
        outline: none;
        width: 100%;
      }
    }
  }




  
}