@import "src/styles/_variables.scss";
.list-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  .backbutton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 13px;
    margin: 10px 20px 10px 0px;
    float: left;
    cursor: pointer;
    &:hover {
      background: $_hover;
    }
    img {
      width: 100%;
    }
  }
  .right {
    .info {
      width: 28px;
      height: 28px;
      border-radius: 14px;
      background: $_background;
      float: left;
      padding: 5px;
      margin: 11px;
      cursor: pointer;
      &:hover {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 11px 11px;
        margin: 5px;
        background: $_background;
      }
      img {
        width: 18px;
      }
    }
    .add {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: $_red;
      float: left;
      padding: 11px;
      margin: 5px;
      cursor: pointer;
      &:hover {
        background: $_button_hover;
      }
      img {
        width: 18px;
      }
    }
  }
  .left {
    .heading {
      color: $_maintext;
    }
    .tags {
      display: flex;
      .tag {
        color: $_subtext;
        width: auto;
        float: left;
        margin-right: 5px;
        padding-left: 7px;
        position: relative;
        &::before {
          content: "";
          width: 3px;
          height: 3px;
          border-radius: 1.5px;
          background: $_subtext;
          position: absolute;
          left: 0;
          top: 8px;
        }
      }
      .tag:first-child {
        padding-left: 0px;
        &::before {
          display: none;
        }
      }
    }
  }
}

.groupactions {
  float: left;
  width: auto;
  margin-top: 5px;
  margin-left: 10px;
  .groupaction {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 5px;
    text-align: center;
    float: left;
    display: flex;
    cursor: pointer;
    position: relative;
    &.sharebutton {
      .img {
        img {
          width: 20px;
        }
      }
    }
    &:hover {
      background-color: $_hover;
    }
    .overlay {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      display: none;
      cursor: default;
    }
    .img {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      img {
        width: 24px;
        opacity: 0.8;
      }
    }

    .options-container {
      height: 0;
      position: relative;
      display: none;
      .options {
        position: absolute;
        max-height: 200px;
        overflow: scroll;
        background: $_white;
        border: 1px solid #eee;
        z-index: 20;
        top: 40px;
        border-radius: 6px;
        width: 134px;
        right: 0;
        box-shadow: 0px 3px 36px #00000029;
        border: 0.5px solid #edf1f5;
        ul {
          li {
            padding: 8px 15px;
            color: $_subtext;
            font-size: 14px;
            cursor: pointer;
            text-align: left;
            font-weight: 400;
            &:hover {
              background: $_hover;
            }
          }
        }
      }
    }
    &.open {
      background-color: $_hover;
      .options-container {
        display: block;
      }
      .overlay {
        display: block;
      }
    }
  }
}
